[2013-08-02 21:24] derekprior opened #1 "Print usage instructions when run with no arguments"
The scripts crash if you run them with no arguments. It would be nice if they returned some usage instructions.

[2013-08-03 22:13] #1 closed, assigned to nobody

[2013-09-05 18:47] derekprior opened #2 "error restoring production data to staging"
I ran: `staging restore production` which blew up with a pretty non-descriptive error: `Error:       Server broke connection (RestClient::ServerBrokeConnection)`. The command it tried to run was: `heroku pgbackups:restore DATABASE <s3 backup url> --remote staging`

`DATABASE` isn't correct here. I had to update the command to use `HEROKU_POSTGRES_CYAN` instead.

I'll see if there's an easy way to

[2014-03-05 16:06] croaky opened #8 "Add `{staging,production} redis-cli` command"
RedisToGo gives you a url in the form:

[code]

We can get it from:

[code]

Break up the string, and run this command to open a CLI:

[code]

[2014-04-09 19:47] geoffharcourt opened #9 "`push` aliases"
Given that you can already migrate, restart, run log2viz, etc, I think it would make sense to be able to type `staging push` to push to the staging remote, etc.

If this kind of behavior would be broadly popular I'm happy to write a PR.

[2014-04-09 23:06] #9 closed, assigned to nobody

[2014-04-14 22:42] jayroh opened #10 "`development backup`"
It's relatively trivial to dump a local database (if you're familiar enough with pg_dump) but I think it might be cool to implement `development backup` as it was something I expected to exist when I tried it today.

Like I said - it's easy enough, but it takes a little time to look up, grok all the options, etc., if you are _not_ familiar.

Thoughts, @croaky?

[2014-07-20 19:52] #10 closed, assigned to nobody

[2014-07-20 20:33] #2 closed, assigned to nobody

[2014-09-16 02:59] #8 closed, assigned to nobody

[2014-12-05 15:42] geoffharcourt opened #17 "No implicit conversion of Fixnum into String"
`gems/parity-0.4.0/lib/parity/environment.rb:70:in `system': no implicit conversion of Fixnum into String (TypeError)`

`Kernel.system` doesn't like nils or numbers, they have to be explicitly converted into strings.

[2014-12-05 19:30] #17 closed, assigned to nobody

[2015-01-23 21:49] geoffharcourt opened #20 "Allow `--confirm` command to be passed to `restore` subcommand"
When I'm bringing data down from production to staging, I'll sometimes do this:

[code]

and then go and get a cup of tea while I wait for Heroku to do its thing. However, the `staging` command doesn't pass any arguments beyond the first to `restore`, so you can't tell it to confirm.

[2015-03-16 13:24] geoffharcourt commented on #20
Added in #21.

[2015-03-16 13:24] #20 closed

[2015-03-16 19:44] Sonblind opened #23 "CURL Error with version 0.5.0"
Error
-------
When executing `development restore production`, I get an error with parity `0.5.0`:
[code]

Specs
------

Curl `7.37.1`
Ruby `2.2.1p85`

Parity `0.4` is working...

[2015-03-16 19:46] geoffharcourt commented on #23
@sonblind, which command and args are you using?

[2015-03-18 15:49] gabebw opened #24 "Subcommands are ignored with v0.5.0"
The `/usr/local/bin/staging` shell script looks like this:

[code]

Note that it's running `staging`, and not passing any arguments to it, so `staging COMMAND` is actually sent to the Ruby file as `staging`, with no subcommand. I fixed it by adding `"$@"` to the last line:

[code]

...but I don't know how to get Traveling Ruby to do that for us. @JoelQ?

[2015-03-18 15:49] gabebw commented on #24
This is after applying the fix here: https://github.com/thoughtbot/homebrew-formulae/pull/8

...but I don't think that will affect anything.

[2015-03-18 15:53] gabebw commented on #24
Closing in favor of #25.

[2015-03-18 15:53] #24 closed

[2015-03-18 17:56] Sonblind commented on #23
I'm running: `development restore production`

[2015-03-18 18:51] geoffharcourt commented on #23
OK, now that I've uninstalled the shims from homebrew and am running Parity 0.5.0, I'm getting the same error. I'm looking into it.

[2015-03-18 22:07] Narzerus commented on #23
Same here

[2015-03-18 22:19] croaky commented on #23
Possibly fixed by https://github.com/croaky/parity/commit/89be4ad97253f74c7fb66fa84a655e5710bcffb1 ?

We might want to release 0.5.1

[2015-03-18 22:56] geoffharcourt commented on #23
@croaky, 89be4ad doesn't resolve the problem, so hold off on 0.5.1 for the moment. I have some time to look at it now.

[2015-03-18 23:04] Narzerus commented on #23
I can't do backups either

[2015-03-18 23:05] geoffharcourt commented on #23
I think we broke in 5e789c328040491b3dec7436bdc48f31dbf7c618, when I use those commands directly at the command line they don't work.

[2015-03-18 23:17] geoffharcourt commented on #23
According to Heroku's [docs](https://devcenter.heroku.com/articles/mapping-pgbackups-commands), the command new `pg:backups` subcommand `heroku pg:backups public-url` should yield the URL for the last backup, but if you run the command with the `--app appname` or `--remote remotename` switches, you get the reported error about the resource not being found.

I think we should revert 5e789c3, file a

[2015-03-19 01:28] croaky commented on #23
@geoffharcourt How does https://github.com/croaky/parity/pull/26 look?

[2015-03-19 03:18] croaky commented on #23
Fixed in 0.5.1

https://github.com/croaky/parity/releases/tag/v0.5.1

[2015-03-19 03:18] #23 closed

[2015-03-19 05:00] JuanitoFatas commented on #23
:clap: Thanks @croaky and everyone!

[2015-03-19 14:56] geoffharcourt opened #27 "Automated task to update homebrew formula"
I haven't figured out what the best way to do this is, but we should be updating the homebrew and APT formulae whenever we publish a new release.

The rake task already generates the packages, so we'd want to have a task at the least generate the SHA256 hashes and URLs to paste into the formula as the bare-bones version of this automation, ideally it would be idiot-proof and just update the formul

[2015-03-20 15:01] Sonblind commented on #23
Great fix! Thanks @croaky and team! :+1:

[2015-03-26 17:46] srt32 commented on #23
I'm seeing this issue when I run `development restore staging` on version `0.5.1`. Was there something I needed to update on my end to apply the fix?

[2015-03-26 18:06] geoffharcourt commented on #23
@srt32, Did you install the Homebrew package? I found I wasn't using the version from the Gem which led to some confusing debugging when issues came up with 0.5.0.

[2015-03-31 19:19] srt32 commented on #23
@geoffharcourt thanks for the idea! I installed it via the gem. I tried uninstalling the gem and reinstalling but I see the same issue.

[2015-03-31 19:30] geoffharcourt commented on #23
OK, just for my own sanity (because I had some similar issues with 0.5.0), what version of Heroku toolbelt do you have, and can you confirm that `which production` is using the Rubygem version, and that you don't have any old versions of parity installed?

I had a project using a different version of Ruby, and with rbenv shims I had issues with which gem version was being used by the executable.

[2015-04-01 17:24] geoffharcourt opened #29 "Update to use new Heroku PG syntax"
Heroku resolved the issue with the PG backup URL not being passed along that triggered https://github.com/croaky/parity/issues/23 ([see comment](https://github.com/heroku/heroku/issues/1466#issuecomment-88537501)). We can now go ahead and  reapply https://github.com/croaky/parity/pull/22 and take advantage of the new command form at some point before Heroku deprecates the old one.

[2015-04-02 13:45] geoffharcourt commented on #29
Update: as of this morning, Heroku Toolbelt 3.30.4 contains the necessary fixes to enable using the new `pg:backups public-url` syntax.

[2015-04-03 00:42] srt32 commented on #23
`heroku version` yields `heroku-toolbelt/3.30.6 (x86_64-darwin10.8.0) ruby/1.9.3` (the Ruby version looks odd).

`which production` yields `/Users/simon/.rbenv/shims/production`. Maybe I've got some shim crossed up somewhere, like you mentioned.

[2015-04-24 21:54] mjankowski commented on #29
I will pay $1 to have this merged.

[2015-04-25 22:13] croaky commented on #23
[code]

[2015-04-27 14:07] geoffharcourt commented on #29
After doing a little testing, I think we need to wait a month or so to be sure users have updated their versions of Heroku Toolbelt. I was testing against Ruby 2.1.5 where I forgot I still had the old (pre-3.30.4) Toolbelt installed, and we got the same errors that required reverting 5e789c328040491b3dec7436bdc48f31dbf7c618.

[2015-04-28 19:27] geoffharcourt commented on #29
@croaky, Heroku emailed out today to inform users that the old PG Backups is being retired over the coming week. I'll prepare the PR, but we should probably release as soon as a few folks have been able to test to prevent users from temporarily losing parity functionality.

[2015-04-28 20:50] geoffharcourt opened #35 "Ensure we return exit status from Heroku when errors happen"
I noticed while testing fb13da9 that when the `production backup` command failed that it did not halt execution of a statement like this:

[code]

Given that the second event is dependent on the first, we probably should return the exit status of whatever `Kernel.system` executes if it indicates an unsuccessful execution.

[2015-04-30 12:31] gabebw commented on #29
I'd like to get this merged as well. Looks like it's a simple `git revert` https://github.com/thoughtbot/parity/commit/4bba15fc62ac5220e72717113b6561fcafbb3e00 ?

[2015-04-30 12:34] gabebw commented on #29
I just updated my local copy to use those changes and it worked great.

[2015-04-30 13:51] geoffharcourt commented on #29
@gabebw, it's not just reverting 4bba15f. That commit didn't incorporate some necessary changes to the new pg:backups syntax that are needed for the commands to work.

[2015-05-07 20:14] #29 closed

[2015-05-07 20:24] geoffharcourt opened #36 "Release v0.7.0"
I'm concerned Heroku is going to start dropping support, so I want to get this out in the wild first.

@croaky, could you push to Rubygems?

I don't have access to the Homebrew formula, so if @croaky, @gabebw, or @JoelQ could update the Homebrew formula with [the v0.7.0 release](https://github.com/thoughtbot/parity/releases/tag/v0.7.0), I would very much appreciate it.

[2015-05-07 20:48] jayroh commented on #36
I'll butt in here too and say that I, too, would love to test this w/the homebrew version. Just a couple of days ago updated everything to latest heroku toolchain, and parity via homebrew.

... reluctant +1. I dislike +1's

[2015-05-08 00:51] croaky commented on #36
Yup I'll do this tonight.

[2015-05-08 00:51] croaky commented on #36
@jayroh We'll accept +1's in the form of bulldog photos.

[2015-05-08 03:58] croaky commented on #36
Pushed to Rubygems. Gave y'all access. @jayroh Looks like you're overdue to update your Rubygems.org email address.

[2015-05-08 04:00] croaky commented on #36
@jayroh @geoffharcourt I also gave you write access to thoughtbot-formulae in case you need to update the Parity formulae in the future.

[2015-05-08 04:02] #36 closed

[2015-05-08 16:22] jayroh commented on #36
![](http://media.giphy.com/media/IWukN7I7hKM8g/giphy.gif)

nice - thanks @croaky ... For the reminder too. You're right that's way way overdue.

[2015-05-10 23:01] croaky commented on #35
Attempt in https://github.com/thoughtbot/parity/pull/37

[2015-05-10 23:01] #35 closed

[2015-05-18 13:45] geoffharcourt opened #38 "Bypass confirmation for staging?"
In https://github.com/thoughtbot/parity/pull/21 we added the ability to pass the `--confirm appname-staging` argument to `staging restore` so that users could bypass the confirmation, script the restore, etc. Is there a good reason not to always pass the confirm parameter to `stating restore`? I agree with the philosophy of not allowing Parity to overwrite production out of fear users might inadve

[2015-05-28 14:05] alexauritt opened #39 "Restore does not pull the latest backup"
When I run `development restore production` we seem to be importing a backup that is several weeks old. I've confirmed the existence of and successfully imported more recent backups using the heroku commands directly.

[2015-05-28 14:08] geoffharcourt commented on #39
@alexauritt, are you saving your backups with the old or the new Heroku Postgres? Backups saved using the old syntax (`heroku pgbackups:capture`) and the new syntax (`heroku pg:backups capture`) are actually saved to different places (they use different infrastructure), and so won't be restored by the other system's commands.

If you save a new backup using `production backup` and then immediately

[2015-05-28 14:09] geoffharcourt commented on #39
The two systems have existed in parallel for many weeks now, in order to allow users to migrate smoothly. Heroku has started to retire the old system, notifying users on an app-by-app basis.

[2015-05-28 14:20] alexauritt commented on #39
@geoffharcourt aha I'm sure that's it. Thanks for the heads up. Will investigate.

[2015-05-28 14:20] #39 closed

[2015-05-28 14:24] geoffharcourt commented on #39
@alexauritt, in preparation for Heroku shutting down the legacy system, Parity 0.7.0 moved to the new PG system.

[2015-06-01 21:06] gohanlon commented on #39
A teammate and I have both experienced this problem when doing successive runs of `development restore production`.

We noticed this when we were heavily testing locally and restoring from production frequently. For us, this wasn't related to capturing backups to the wrong repository.

My guess: Either the Heroku API *sometimes* returns items in an unexpected order, or *sometimes* Parity uses the

[2015-06-01 21:18] geoffharcourt commented on #39
Hi @gohanlon, a small question that might help tracking down what's going on: were you waiting for the prior backup to finish? The new backup system continues to run if you aren't watching it over SSH, so you could potentially pull backups before your newest one is finished.

If you can reproduce this, I'd be interested in trying to figure out what's going on.

[2015-06-02 22:49] gohanlon commented on #39
@geoffharcourt No explicitly run backup tasks were running. We ran `development restore production` about 20 times in about 30 minutes while debugging a migration. Most of the restore commands gave the expected database, but about every third restore used a stale snapshot.

I'll definitely report back if we see this again. I'm not sure it'll be easy to reproduce. (And, may not be worth the work to

[2015-06-29 21:46] ehershey commented on #27
I'm curious if there's a good way to do this, in general. I've been hunting for one and haven't found anything.

[2015-07-10 13:17] gjorquera opened #40 "Enable/disable maintenance on deploy?"
I'm currently enabling maintenance mode before deploy and disabling it after it has succeed. So, if there's an error, I don't have users banging against a bad deploy.

Is there a reason not to use that heroku feature for `production deploy`?

Am I missing something?

[2015-07-10 13:35] geoffharcourt commented on #40
Hi @gjorquera, not all deploys require downtime. I think many developers would prefer not to trigger downtime (particularly if you are testing first against a staging instance).

If you want to enable functionality like that, I think wrapping `production deploy` in a shell script that enable maintenance mode, runs the deploy, then disables maintenance mode would be the best practice.

[2015-07-10 13:53] gjorquera commented on #40
Ok, I understand. I'll wrap it on a shell script then.
Thanks!

[2015-07-10 13:53] #40 closed

[2015-07-10 14:26] geoffharcourt commented on #38
@croaky, @JoelQ, @gabebw, wanted to get your read on this. I normally consider staging volatile and never assume that data that sits there needs to be shielded from overwriting restores, but I want to be sure I'm not unique in that regard.

Always passing the `--confirm` switch on means you can run `production backup && staging restore production` and then go get your coffee while the two operatio

[2015-07-10 14:51] JoelQ commented on #38
Agreed. On greenfield projects, I'll often run `rake db:reset` on staging multiple times a week. While that isn't the case on more established projects, I still consider staging to be volatile.

My main concern here is that users may be surprised when the don't get a confirmation and may inadvertently blow away their staging data (particularly annoying if they built it by hand instead of using a s

[2015-07-10 14:53] geoffharcourt commented on #38
Are you thinking a `.parity` config file or an environment variable?

[2015-07-10 14:56] geoffharcourt commented on #38
Actually, if we're going to do any kind of configuration, it should probably be a config file, so that the setting is respected by any scripts that use parity and might not have environment variables loaded.

[2015-07-10 14:57] JoelQ commented on #38
Probably `.parity`. I just want a way for users to explicitly say "Yes, don't ask for confirmation again"

[2015-07-10 15:58] geoffharcourt commented on #38
I realized we're already configuring settings in an app initializer, so I kept all the configuration there. It does mean the opt-in will be at the application rather than the user level. If that still seems unsafe I can add the machinery for a config file.

[2015-07-25 00:32] croaky opened #42 "Replace `Parity.config` with `.parity.yml`?"
With the change to a binary, configuring through Ruby no longer makes sense.

I'm thinking project-specific YAML files instead.

[code]

Thoughts?

[2015-07-26 05:23] gabebw commented on #42
If people want to configure Parity, I think that approach makes a lot of sense.

Maybe we don't need configuration at all? I haven't seen anyone complain about configuration and it's been broken for months. I've never used it.

[2015-07-26 06:46] croaky commented on #42
I've never used it, either.

[2015-07-26 06:48] croaky opened #43 "db/schema.rb fall back to db/structure.sql"
Have a Rails app or two that's needed to switch to SQL dump.

[2015-07-27 12:30] geoffharcourt commented on #42
I think we may need configuration in order to accomplish https://github.com/thoughtbot/parity/issues/43, but the only big loss I see for existing functionality from removing configuration would be requiring that your apps have the same name as the folder you're working from, which I think we can solve by using Heroku toolbelt's `--remote` option instead of the `--app` option. It would require that

[2015-07-27 12:33] geoffharcourt commented on #43
@croaky, is this meant to say falling back from `db/schema.rb` to structure?

[2015-07-27 14:54] geoffharcourt commented on #42
Wrote too quickly, we are already using `--remote`!

It looks like if we were to drop configuration that users would lose the ability to log2viz for application that don't use the `basename-environment` naming convention. If that was a big problem we could parse it out of `heroku apps:info`'s output.

[2015-07-28 03:42] croaky commented on #43
@geoffharcourt Yup, good call, updated.

[2015-07-28 03:44] croaky commented on #43
Derp. We read from `config/database.yml`, don't need to fall back when schema structure type changes.

[2015-07-28 03:44] #43 closed

[2015-07-28 04:01] croaky commented on #38
Should we close this issue in light of https://github.com/thoughtbot/parity/pull/44?

[2015-07-28 04:01] croaky commented on #42
Opened https://github.com/thoughtbot/parity/pull/44 to remove the config.

[2015-07-28 04:05] croaky commented on #42
Also https://github.com/thoughtbot/parity/pull/45 to remove `log2viz`.

[2015-07-28 05:11] croaky commented on #27
Maybe the API formulae should live in this repo rather than thoughtbot/formulae?

CI could be a good place for automating this.

Something like:

[code]

[2015-07-28 13:46] geoffharcourt commented on #38
I really wanted to get this addition in, but in light of all of the benefits we gain from tossing the config apparatus in #44, I am OK dropping it unless we want to unilaterally declare staging data to be volatile.

[2015-07-28 13:46] #38 closed

[2015-07-28 13:54] croaky commented on #38
What are some example staging commands that we've been running lately that we've been feeling the need to add --confirm to automatically? Is it specs ally restore or others, too?

[2015-07-28 14:01] geoffharcourt commented on #38
I think `restore` is the only one that I would want to use it for. I push fairly frequent changes to staging so that my co-founder can view them on his phone against real data, and I want to bring production data down to staging fairly often.

When I'm working on a single app for along time I can alias this locally.

[2015-07-30 20:42] croaky opened #46 "staging restore development"
In order to push a development backup to the staging environment (e.g. `staging restore development`), we'd need to:

* `if from == 'development'` somewhere in [lib/parity/backup.rb](https://github.com/thoughtbot/parity/blob/master/lib/parity/backup.rb)
* `pg_dump -Fc --no-acl --no-owner -h localhost -U myuser mydb > mydb.dump`
* [upload somewhere URL-accessible](https://devcenter.heroku.com/artic

[2015-07-30 20:48] croaky commented on #46
https://devcenter.heroku.com/articles/heroku-postgresql#pg-push works just as well. Should Parity use it?

[2015-07-30 20:57] geoffharcourt commented on #46
I have a personal app where this would be really useful. Let me spend a week using `pg-push` to evaluate.

[2015-08-19 15:52] geoffharcourt opened #47 "Reset development database on `development restore x`?"
I've been having an issue recently where some primary keys and pre-existing data in development has caused conflicts when trying to restore a production/staging snapshot on development. I've fixed this by running `rake db:reset` before `development restore production`. I'm starting to think that always resetting (or even dropping and recreating) the development database might be good practice befo

[2015-09-04 14:54] geoffharcourt opened #48 "`deploy` runs migrations if the deploy fails"
I think this is largely harmless, but I tried to run `staging deploy` this morning when staging was running a feature branch that was out of sync with master. The deploy failed, but parity went ahead and tried to run migrations and restarted the dyno. I think we should check for the git command's exit status before we run the migration.

[2015-09-04 21:13] geoffharcourt commented on #46
`pg:push` is great, I think we should go ahead and use it. I'm happy to write this PR if you haven't already done a spike of your own.

[2015-09-04 21:16] geoffharcourt commented on #46
One more note: in order to do the push, two things need to happen:
1) the user has to wipe the database with `pg:reset`
2) the user needs to confirm, either by typing the app name or appending the `--confirm appname` argument.

In light of removing configuration in https://github.com/thoughtbot/parity/pull/44, I think we should reconsider always giving the confirmation for staging database restore

[2015-09-08 15:23] geoffharcourt opened #49 "Don't run `migrate` when deploying non-Rails apps"
Experimenting with a Python app we're using at @cortexintel and the Homebrew version of Parity has been useful. The `deploy` command runs fine, but gives us some errors about migrations.

Wondering if we should detect if it's a Rails app before we decide to run `migrate`.

[2015-09-25 11:00] chrise86 opened #51 "could not find app name in production git remote"
Every time I try running `production console` I get:

    could not find app name in production git remote

Other commands such as `production logs` work fine.

OSX 10.11

[2015-09-25 16:00] geoffharcourt commented on #51
Hi chrise86, can you paste in the output of `git remote -v`, `pwd`, and `heroku --version`? I assume if you're running `heroku console`, then you're using Tim Pope's (somewhat aggressively named) `heroku-fucking-console`, otherwise `console` isn't supported without `run` as a prefix.

[2015-09-28 22:00] geoffharcourt commented on #42
I'm leaving a note in #41 to discuss what I think was the last remaining reason for environment-specific configuration (always applying the `--confirm` switch when performing destructive operations on non-production databases).

Voting to close this ticket, as it looks like we've established that users aren't using configuration. @croaky, any objections?

[2015-09-29 01:55] #48 closed

[2015-10-02 06:59] JuanitoFatas commented on #51
Same here.

`git remote -v`

[code]

`pwd`:

[code]

`.git/config`:

[code]

`heroku --version`:

[code]

And when I do `production logs`:

[code]

parity install via homebrew, `brew info parity`:

[code]

What am I missing? Thanks!

[2015-10-02 07:07] winston commented on #51
I am facing the same problem as @JuanitoFatas. Am using https://github.com/heroku/heroku-accounts. Could that be the problem?

Which means:

[code]

doesn't work. Note `heroku.work` is required by heroku accounts to differentiate the accounts.

While

[code]

with the regular `heroku.com` works.

Thank you!

[2015-10-02 07:10] winston commented on #51
I just did a little digging and I noticed parity translates commands to:

[code]

so when `production` is `git@heroku.work:repo-production.git`, then it fails with:

[code]

but when `production` is `git@heroku.com:repo-production.git`, then it works.

So I guess it's probably a bug with Heroku's CLI instead. I'll log an issue there too. Thanks!

[2015-10-02 07:14] winston commented on #51
Saw this https://github.com/heroku/heroku/issues/1751 and did `heroku git:remote -a appname -r remotename`. Then it worked! :)

[2015-10-02 07:20] JuanitoFatas commented on #51
works for me, too.

[2015-10-02 08:37] geoffharcourt commented on #51
Hi @winston and @JuanitoFatas, it looks like you've found and fixed on your own. I think we need a note in the README about using heroku-accounts in case other users. Were you both using the old heroku-accounts plugin in the past?

[2015-10-02 08:38] winston commented on #51
@geoffharcourt Yes. Just upgraded to the heroku supported one.

[2015-10-28 12:24] geoffharcourt commented on #51
Looks like we're all clear here, closing this out.

[2015-10-28 12:24] #51 closed

[2015-11-05 13:03] vfonic opened #56 "Allow for git push -f"
Thanks for great and simple CLI tool!

One issue I ran into today was that I couldn't use parity to make a force deploy.

I tried `production deploy -f` and, after that failed (ignoring -f argument), I resorted to `git push production master -f`. It would be good if parity would be able to do this.

Viktor

[2015-11-05 14:53] vfonic commented on #56
Similarly, having `staging deploy feature-branch-name` would be quite handy.

I guess you'd have to change the implementation of `run_migration?` method (and probably couple of other things), as it's referring to master branch:
https://github.com/thoughtbot/parity/blob/df296fe6e77698fe4522b120944621667b1dcbd3/lib/parity/environment.rb#L112

[2015-11-06 05:37] #42 closed

[2015-11-06 05:38] croaky commented on #49
Makes sense to me. We also have `bin/deploy` scripts in most of our apps. Thoughts on removing the `deploy` command in Parity?

[2015-11-06 05:38] croaky commented on #46
Think we've covered all these ideas now.

[2015-11-06 05:38] #46 closed

[2015-11-06 05:40] croaky commented on #47
When I do these restores, I typically want a complete copy of the env's database, would prefer not to mix. Agree that resetting would be expected.

[2015-11-06 12:52] geoffharcourt commented on #56
I think force-pushing to non-production branches could be useful.

@vfonic, you can push feature branches to staging now as of df296fe6e77698fe4522b120944621667b1dcbd3 in v 0.8.0.

[2015-11-06 12:55] geoffharcourt commented on #56
@vfonic force-pushing to production is probably not going to be on our roadmap. We try to avoid force-pushing to master to avoid conflicts with teammates. If something bad ends up on master, we would revert it with an additional commit rather than amending or editing a commit already pushed to master.

Force-pushing to staging or other feature environments makes sense, as you're likely to be amend

[2015-11-06 12:56] geoffharcourt commented on #47
I've run into this a couple times on my latest project where I had migrations run on my development database from a feature branch, then pulled from staging, then tried to migrate again and couldn't because the tables already existed. I'll start work on this feature.

[2015-11-06 12:59] geoffharcourt commented on #49
I was against adding `deploy` when it was first suggested, but it's become pretty essential as I've started working on a wider number of apps at a time. On our latest project, we're actually using parity in our `bin/deploy` script.

I'm thinking about 1) checking to see if `rake` is a valid command and 2) checking if `migrate` is a valid task. Would looking for the existence of `db/migrate` be a b

[2015-11-06 13:00] geoffharcourt commented on #27
@croaky I like the idea of having CI do this work rather than someone's local machine.

[2015-11-06 13:52] vfonic commented on #56
Thanks for the explanation. Indeed it makes total sense. I'll try force
pushing next week and let you know.

On Friday, 6 November 2015, Geoff Harcourt <notifications@github.com> wrote:

[2015-11-06 15:39] croaky commented on #27
Felt this pain yesterday, would be good to do.

[2015-11-06 18:13] geoffharcourt commented on #47
It looks like now Heroku as of a recent version of the CLI expects there to be no development database in place before `pg:pull` runs, so they're thinking about this the same way we were.

[2015-11-06 18:58] #47 closed

[2015-11-06 19:00] #49 closed

[2015-11-06 19:04] geoffharcourt commented on #56
cc: @croaky @gabebw @joelq curious to get your thoughts on this. I don't mind force-pushing to staging, particularly when we're allowing feature branches to be pushed there. I think it's unlikely an unorthodox for staging to be the only place where code you want to keep might be stored, so blowing away an orphaned branch on staging seems low-risk. Any concerns?

[2015-11-06 20:11] geoffharcourt commented on #27
@croaky it would certainly make automating the release easier, but I think splitting out to get a separate tap/forumula in this repo would be inconvenient. I'm looking at Github's API to see if we can query it for releases and identify the OSX file to get that value.

[2015-11-10 11:07] vfonic commented on #56
@geoffharcourt I've tried pushing feature branches. Works flawlessly. Thanks!

I've noticed that documentation doesn't mention this functionality:
https://github.com/thoughtbot/parity/blob/master/README.md#usage

It's actually wrong for non prod environments as it doesn't deploy master.

    production deploy
    staging deploy

[2015-11-10 15:08] JoelQ commented on #56
@geoffharcourt I think force-pushing to staging is completely normal, particularly if you've put a different branch on there.

[2015-11-10 18:07] geoffharcourt opened #61 "`deploy` in 0.9.0 sometimes fails if migrations need to be run"
From @bernerdschaefer:

Environment bins expect all commands to return an exit status, but `deploy` does not always return an exit status, depending on the current state of migrations on the remote server.

[2015-11-11 01:50] faun commented on #61
Here's an example of this in action:
[code]

[2015-11-11 23:04] geoffharcourt opened #65 "Integration test application"
Our current system of stubbing out calls to `Kernel.system` is great for performance and isolation of the portions of Parity that we want to test, but I find myself testing certain non-passthrough commands like `deploy` and `migrate` on a dummy app I have on Heroku.

Here's what I do:

1. roll back the database by one migration
2. roll back the repository to a commit before the migration
3. force-

[2015-11-11 23:26] #61 closed

[2015-11-17 03:40] geoffharcourt commented on #56
Documentation will be updated in #66. Since we already provide for force-pushes, I'm closing this ticket.

[2015-11-17 03:40] #56 closed

[2015-11-17 03:47] geoffharcourt commented on #27
I think we should build this task in https://github.com/thoughtbot/homebrew-formulae so that the method can be generalized. I'm also concerned that breaking our formulae up into smaller taps requires users to separately `tap` each one and prevents discovery.

[2015-11-17 03:47] #27 closed

[2015-12-14 20:39] tabfugnic commented on #65
Having third party services can be troublesome. I have found great success with building out fake services that will better replicate what I'm trying to do. Thoughts on building out a Heroku fake?

[2015-12-14 21:10] JoelQ commented on #65
:+1: to the idea of having a fake for external services in integration tests.

[2015-12-14 21:46] geoffharcourt commented on #65
This would reduce a lot of anxiety for me. At the moment our release process involves me running a number of the most critical commands against a simple app I use that doesn't change much and doesn't have many moving parts.

[2016-01-09 19:19] jakecraige opened #70 "Allow restoring to production"
I came across this error today

While I understand the reasoning, it would be nice to have a way to override this if that's what I need to do. Maybe some type of y/n confirm to restore?

[2016-01-12 05:58] croaky opened #71 "Back up the database before deploy"
e.g. https://github.com/thoughtbot/hub/commit/dadcf42d8e938f8c6b736ac4370af70dbca50df2

[2016-01-12 15:39] JoelQ commented on #71
I like this. Does Heroku limit the number of backups you can have?

[2016-01-12 20:26] croaky commented on #71
@joelq Yeah, it's some kind of cap with like an exponential back off. They keep like the last 10-15 manual / daily backups, then a few for week-month periods.

[2016-01-15 20:56] geoffharcourt commented on #71
I'm mildly against this, as I like to deploy very frequently, and not every deploy needs a backup. Could we instead consider backing up the database before any migration activity occurs?

[2016-01-15 20:57] JoelQ commented on #71
Don't we attempt to migrate the database on all deploys?

[2016-01-15 20:58] geoffharcourt commented on #70
I'm opposed to making it interactive, but I think it's worth reconsidering pushing/restoring to production. If we implement automated backups before some actions per #71, maybe we could always back up production before restoring or pushing to it?

[2016-01-15 20:59] geoffharcourt commented on #70
(opposed to making it interactive beyond the Heroku-issued confirmation prompt that already exists)

[2016-01-15 21:01] geoffharcourt commented on #65
I've reviewed the git/Github faking that happens in the https://github.com/github/hub application, and while I think their approach is not necessarily easy to follow, we can probably do something like it with fewer parts due to the specific dependencies our app has (we can stub out commands rather than having to stub API endpoints, etc). Any of you up for pairing on this next Friday?

[2016-01-15 21:16] jakecraige commented on #70
Perhaps even something as simple as a `--force` flag to skip this protection would be ideal

[2016-01-15 21:17] geoffharcourt commented on #70
I think the Heroku-driven confirmation is probably sufficient if we opt to allow this kind of activity. @croaky I know you've had strong feelings in the past about this protection and a worry about users inadvertently blowing away their production database.

[2016-01-19 18:35] eignerchris opened #72 "Issue restoring staging"
Anyone else having trouble running `staging restore production`? I always receive "App not found".
[code]

I have origin, production, and staging remotes setup correctly.

[2016-01-20 16:48] geoffharcourt commented on #72
@eignerchris does your application belong to another organization? I've seen this happen on apps that have transferred ownership or that belong to a Heroku org that I am not a part of.

[2016-01-20 16:49] geoffharcourt opened #73 "Parse ERB in `database.yml`"
Rails allows a user to use ERB within a YAML file to set up dynamic values for keys. On apps that employ this approach, Parity will fail when attempting to parse `config/database.yml`.

[2016-01-20 17:34] bernerdschaefer commented on #73
@geoffharcourt Why does Parity parse `config/database.yml`?

[2016-01-20 17:36] geoffharcourt commented on #73
@b, we need to know the names of the local development database.

[2016-01-20 17:40] bernerdschaefer commented on #73
I see. So it's used to get information about the local database when running commands like: `development restore staging` and `staging restore development`.

[2016-01-20 20:32] geoffharcourt commented on #73
@bernerdschaefer correct. We could make assumptions and force convention here, but I've had a number of client apps that have deviated from this standard and local edits of `database.yml` are sort of a headache to maintain.

[2016-01-20 20:33] geoffharcourt commented on #71
@JoelQ we only migrate the database if production didn't contain the commits with new migrations before the deploy.

[2016-01-21 15:34] creuter opened #74 "Update readme for restore commands"
When trying to `restore-from`:

[code]

and from the README:

[code]

Should this be `restore` and not `restore-from`?

[2016-01-21 17:21] bernerdschaefer commented on #74
@creuter `restore-from` was [added recently](https://github.com/thoughtbot/parity/pull/67), but it doesn't look like its made it into a release yet.

[2016-01-21 19:22] geoffharcourt commented on #74
Correct. I will try to get a new release out tomorrow.

[2016-01-22 20:03] geoffharcourt commented on #72
I'm having the same issue with restoring staging. I can execute backup operations and most passthrough commands successfully, but `restore` doesn't work on apps that used to belong to another org and have been transferred.

[2016-01-22 20:38] mjankowski commented on #72
I have this same issue with a staging remote. But, check it!...

[code]

It looks like whatever parity code attempts to convert the remote name to a heroku app name is not getting the correct value?  In this case, it should be `thoughtbot-hub-staging` and not just `hub-staging` ...?

[2016-01-22 20:41] eignerchris commented on #72
@geoffharcourt yes the two applications I tested on are not owned by me. I am merely a collaborator.

[2016-01-22 20:48] geoffharcourt commented on #72
@mjankowski it turns out the applications I was having a problem with happened to fit the pattern of having been transferred out of the thoughtbot org, so that was a false clue.

I think the issue is when the application's folder on the development machine doesn't have the same name as the Heroku app. I just renamed my app that was having trouble, and `staging restore production` started working.

[2016-01-22 21:26] geoffharcourt commented on #72
@eignerchris PR if you want to take a peek to fix the problem.

[2016-01-25 13:46] geoffharcourt opened #77 "Abandon Rubygems-installed executable?"
I think our experiment to distribute Parity as packages rather than through Rubygems has been a success. While working across several Ruby versions with different clients and projects, I've found having Parity be independent of my current Ruby version to be useful. When I have the gem executables installed because I've been testing development versions, I find the existence of shims from Ruby vers

[2016-01-25 13:48] geoffharcourt opened #78 "Match Travelling Ruby"
In 95ac59c9639bc22a89a411d4326873fc3b834700 we updated to use Ruby 2.3.0. We probably need to downgrade this to 2.2.2 to match Travelling Ruby's latest version.

@JoelQ @tabfugnic @croaky thoughts? I'm open to other solutions if we don't think Traveling Ruby is the right solution, but thus far I think packaging the gem has been a big win.

[2016-01-25 13:58] #72 closed

[2016-01-25 15:17] JoelQ commented on #78
Downgrading seems reasonable. In the future we may want to move off of Traveling Ruby but I think the easiest/correct change here is to downgrade. I'd love to hear @croaky and @tabfugnic's thoughts though.

[2016-01-26 18:00] tabfugnic commented on #78
@JoelQ I agree with you. Since we are keeping to traveling ruby it makes sense to me to downgrade. Likewise I would hope that we can move off of that at some point.

[2016-01-26 19:38] bernerdschaefer commented on #77
I fully support this.

I prefer command-line tools to be distributed by system package managers. It's particularly good for Ruby tools like Parity, since I frequently switch between different sets of gems and ruby versions, but always want Parity around.

[2016-01-27 21:06] bernerdschaefer opened #79 "parity exits on ctrl-c during long-running tasks"
For example:

[code]

If you run `heroku pg:psql -a myapp-staging` and hit `ctrl-C` it works as expected -- clearing any partial commands, but leaving the postgres CLI running.

Some ideas for addressing this:

* `parity` captures and forwards received signals to the commands it runs
* `parity` uses `exec` to run commands it passes through to `heroku`.

The second option is likely easier, and poss

[2016-01-27 21:09] geoffharcourt commented on #79
Interesting. Is there any risk to getting stuck if the SSH session on the other end is unresponsive?

[2016-01-27 21:11] bernerdschaefer commented on #79
If we can switch to `exec`, then it would be up to however the `heroku` command handles that, which I think is ideal.

[2016-02-02 15:40] #73 closed

[2016-02-02 16:15] #78 closed

[2016-02-02 16:29] #74 closed

[2016-03-18 15:35] thejones opened #85 "restore-from errors"
I get a Heroku error when running restore-from.
OSX 10.11.3
Everything else seems to work as expected and I am not sure how to tell if this is a local issue.

development restore-from staging
[code]

development restore staging:
[code]

[2016-03-21 13:44] macklinu commented on #85
How have you installed `parity`? I installed via Homebrew, and the output of `brew info parity` is:

[code]

It looks like the `restore-from` command was introduced in be954aabacd765ad8564b21675895ab12638f179, which is in the `v0.9.3.beta` tag, so your version of `parity` might not contain this alias.

[2016-03-21 17:22] thejones commented on #85
Sounds good. I did not realize it was introduced in the beta tag. Thank you!

[2016-03-21 17:22] #85 closed

[2016-03-21 18:51] geoffharcourt commented on #71
@croaky @joelq we could run the backup only if we plan on running migrations later in the deploy. Would that accomplish the goal?

[2016-03-26 20:28] macklinu opened #86 "uninitialized constant Parity::Backup::ERB (NameError)"
I attempted to install `0.9.3.beta` from Homebrew (after seeing thoughtbot/homebrew-formulae@fcb0f7f8fac5f51066c69b9574be459414861a2e). With a previously installed version of `0.9.2.1`, I ran:

[code]

Now the `restore`/`restore-from` commands result in an error.

Running `development restore production` or `development restore-from production` yields:

[code]

I can still run other parity command

[2016-03-27 14:56] macklinu commented on #86
This seems to be a conflict from previously adding parity to a project's Gemfile, as the path in the comment above points to where my gems are installed, not to Homebrew's Cellar (`/usr/local/Cellar/parity`).

I don't know if this is necessarily an issue then. I closed #87 in the mean time. If you have any tips on testing this locally, I would be glad to test those out!

[2016-03-27 15:25] geoffharcourt commented on #86
Hi @macklinu I'm still working out getting gem dependencies to install through Homebrew (hence the development build). When that issue is solved (feel free to take a look at the wrapper scripts in the packaging if you want to help me out!), we'll be able to install beta versions through Homebrew with the `--devel` flag.

[2016-03-28 14:45] geoffharcourt commented on #86
I'm going to close this, but if you want to discuss we should do so on an issue on https://github.com/thoughtbot/homebrew-formulae.

[2016-03-28 14:45] #86 closed

[2016-04-05 23:44] cantonyselim commented on #72
I am still having this exact issue. When I run `staging restore production`,  I get `! App not found`. If I run `staging restore-from production`,  I get
[code]
production      https://git.heroku.com/my-production-app.git (fetch)
production      https://git.heroku.com/my-production-app.git  (push)
staging https://git.heroku.com/my-staging-app.git (fetch)
staging https://git.heroku.com/my-staging-a

[2016-04-06 08:07] cantonyselim opened #88 "restore and restore-from isn't working same as #72"
This was posted in #72 but since it was closed, I thought I would open a new one just so it was seen.

I am still having this exact issue. When I run staging restore production, I get ! App not found. If I run staging restore-from production, I get

 !    restore-from` is not a heroku command.
 !    See `heroku help` for a list of available commands.
I am the owner of the heroku apps in question t

[2016-04-06 14:25] geoffharcourt commented on #88
Hi @cantonyselim this feature is not available until v0.9.3 of Parity. I haven't been able to push it out yet because there's an issue with Homebrew packaging due to new gem dependencies.

[2016-04-06 14:27] geoffharcourt commented on #71
I don't think this workflow is compatible with a development workflow that ships often. I'm happy to reopen this if we want to revisit the issue later (perhaps with backing up before running migrations).

[2016-04-06 14:27] #71 closed

[2016-04-06 20:45] geoffharcourt commented on #72
Hi @cantonyselim I haven't pushed v0.9.3 (where the fix is merged) out yet due to a dependency issue. I'm going to leave this ticket open until we do so.

[2016-04-08 00:17] cantonyselim commented on #88
No worries, is there a work around right now so that I can use parity to restore a database to my staging from production?

[2016-04-11 19:48] geoffharcourt commented on #88
@cantonyselim you should be able to use the existing `restore` command (`restore-from` will just be an alias for `restore`).

[2016-04-15 20:25] geoffharcourt commented on #88
@cantonyselim can you install 0.9.3 and give it a try?

[2016-04-18 16:16] danbee commented on #70
I've just hit this issue myself. +1 for the `--force` flag.

[2016-04-18 19:30] tute opened #91 "A dependency is missing on new installation?"
I recently uninstalled all gems in my system. After running `gem install parity` and trying to use it in projects where it was working before, I get:

[code]

Is there a missing dependency? Thank you!

[2016-04-18 19:33] tute commented on #91
After running `gem install git` it started working. I think we need to add `git` as a development dependency in `parity.gemspec`.

[2016-04-18 21:12] geoffharcourt commented on #91
Blerg, @tute, I'm sorry about that.

I'm going to be removing the executable from the Rubygems-installed gem shortly and recommending that users install the package from Homebrew or releases in the next week or so.

[2016-04-18 21:13] geoffharcourt commented on #79
@bernerdschaefer I am going to try to get this in for 1.0.0, I've been running into the same issue.

[2016-04-19 14:21] vfonic commented on #88
@geoffharcourt I just tried after installing 0.9.3 and it still gives the same error.

[2016-04-19 14:25] geoffharcourt commented on #88
I'm able to run `development restore-from staging` on my machine at the moment with 0.9.3. Do you have other versions of parity installed, or is your app using a different Ruby version? What do you get when you type `which development`?

[2016-04-19 14:51] vfonic commented on #88
`$ which development`

`$ brew list parity`

/usr/local/Cellar/parity/0.9.3/bin/production
/usr/local/Cellar/parity/0.9.3/bin/staging
/usr/local/Cellar/parity/0.9.3/lib/app/ (9 files)
/usr/local/Cellar/parity/0.9.3/lib/ruby/ (1009 files)
/usr/local/Cellar/parity/0.9.3/lib/vendor/ (200 files)

I always do `brew upgrade --all && brew cleanup`

`$ heroku --version`

heroku-cli/4.29.4-8a30ba5 (amd64-d

[2016-04-19 19:35] geoffharcourt commented on #88
@vfonic for the app at the top, it looks like the Parity gem's executable (in `.rvm/gems/`) is in front of the Homebrew-installed executable. In that app's folder, run `gem uninstall parity` and be sure the executable is uninstalled. When you type `which development` or `which staging`, you should see the Homebrew location, not the RVM one.

I can't tell if the second app's error has anything to d

[2016-04-19 19:38] geoffharcourt commented on #88
We set the `parity` folder in `Cellar` to be writable in the Homebrew formula so that if Bundler runs it doesn't trigger a permissions error, but I don't have that same error message about permissions on my machine (using the same versions of `heroku-toolbelt` and `heroku-cli`).

[2016-04-19 19:50] vfonic commented on #88
I've uninstalled the gem. The error is now the same in every project:

`$ which development`

`$ staging restore-from production`

 !    Run `heroku status` to check for known platform issues.

[2016-04-19 19:56] geoffharcourt commented on #88
I'm not sure if this is a parity problem. The report that began this issue was with the `restore-from` subcommand not being recognized by parity, but what you're getting now looks like the returned response from Heroku when the CLI gets a 500 error from the server.

Can you tail staging with `staging tail`? Can you take a backup with `staging backup`?

[2016-04-19 20:00] vfonic commented on #88
Yes, all those commands work.

Speaking of heroku CLI plugins, I don't remember installing any of those. I've just checked now and it seems that those came installed by default together with heroku-toolbelt brew formula. I think it's just the newer versions of heroku CLI display more information than previous ones. Try running `heroku --version` and see if you get the same output with addons.

See

[2016-04-19 20:02] geoffharcourt commented on #88
Do you have git remotes defined for the app? We're using git remotes now rather than the app name. What's the output of `git remote -v` for your app?

[2016-04-20 11:28] vfonic commented on #88
Yes, I have the remotes set. I'm pretty sure v0.9.2 relied on having those set as well.

[2016-04-20 13:43] geoffharcourt commented on #88
@vfonic later this week I'm going to try to push out a development release so we can get some more information about what's not working here.

[2016-04-20 14:41] vfonic commented on #88
@geoffharcourt Thanks Geoff! Let me know when you do and how can I help with providing info you need to look into this.

[2016-04-20 20:14] cantonyselim commented on #88
@geoffharcourt sorry for the late response so I tried `restore

[2016-04-20 20:22] geoffharcourt commented on #88
@cantonyselim can you update to v0.9.3? I'm hoping that the changes applied there will resolve your issue.

[2016-04-25 23:30] JuanitoFatas opened #93 "`development restore-from production` command failed"
Parity 0.9.3

[code]

[2016-04-27 23:06] croaky opened #94 "Slow backups from production"
Working on a ~500MB database. It is slow to backup through `development restore production`.

This alternative may be faster:

[code]

Not sure why yet.

[2016-05-20 17:49] geoffharcourt commented on #70
@danbee resolved this issue in #92!

[2016-05-20 17:49] #70 closed

[2016-06-16 18:35] croaky opened #96 "Non-functional on Ubuntu"
[code]

https://github.com/thoughtbot/parity/blob/master/lib/parity.rb#L7

Maybe a problem with how we're handling load path?

[2016-06-28 17:33] geoffharcourt commented on #96
I think you're right. I've had some trouble since we added gem dependencies. Next investment day I'm hoping to roll some of this back to get everyone on the same page.

[2016-06-29 02:46] hafizio commented on #96
I experienced the same issue after updating to `ruby 2.3.1`. It was working fine in `ruby 2.3` previously.

[2016-07-22 15:31] geoffharcourt commented on #94
@croaky did you continue to see this issue? Working on Parity today and can target it if it's still a concern.

[2016-07-22 18:49] #79 closed

[2016-07-23 19:19] croaky commented on #94
I think it's still an issue, yes.

[2016-07-27 16:42] #91 closed

[2016-07-29 14:42] geoffharcourt commented on #96
@croaky @hafizio can you install v0.10.0 and test on Ubuntu? I've removed external dependencies, so I expect your issues should be resolved.

[2016-07-29 14:42] geoffharcourt commented on #93
@JuanitoFatas can you install v0.10.0 and test on Ubuntu? I've removed external dependencies, so I expect your issues should be resolved.

[2016-07-29 14:43] geoffharcourt commented on #88
@cantonyselim and @vfonic can you install v0.10.0 and test? I've removed external dependencies, so I expect your issues should be resolved.

[2016-07-29 15:26] #93 closed

[2016-07-29 15:27] #88 closed

[2016-07-29 15:34] #77 closed

[2016-07-29 15:35] #96 closed

[2016-07-29 16:29] geoffharcourt commented on #65
I'm closing this out for now, as I don't expect to have the investment time to work on this in the near future, but we can reopen if need be.

[2016-07-29 16:29] #65 closed

[2016-07-29 21:52] andyw8 opened #101 "Conflict with Heroku Toolbelt?"
I followed the installation instructions:
[code]

So I tried that:

[code]
Any advice on what I should do here? I don't want to break my existing Heroku setup.

[2016-08-01 13:19] geoffharcourt commented on #101
Hey @andyw8, I haven't looked at making this a soft dependency (not explicitly requiring it), as I think ensuring users have heroku-toolbelt installed will help avoid confusion. If we didn't have this requirement I'd worry about users getting confusing error messages when the `heroku` executable didn't exist.

I don't know a reason why you shouldn't always be using a recent, up-to-date heroku-tool

[2016-08-01 13:20] #101 closed

[2016-08-01 14:04] andyw8 commented on #101
Thanks for the advice. I've linked it using the `--overwrite` option and all seems ok.

[2016-08-12 19:09] 8vius opened #102 "Unknown database: DATABASE_URL. Valid options are:"
I get this error when I try to update my staging server either from production or development. Am I missing a configuration or something?

[2016-08-15 14:18] geoffharcourt commented on #102
@8vius, does your staging environment have a `DATABASE_URL` defined? You can check with `staging config`. We rely on that environment variable to be where your app's database is found (it's often duplicated by a database-specific color-named variable).

[2016-08-15 16:54] 8vius commented on #102
@geoffharcourt yes, it is defined.

[2016-09-08 18:19] fabn opened #104 "Allow migrations to be skipped"
Now that Heroku provides [release phase](https://devcenter.heroku.com/articles/release-phase) and [advice to use it](https://devcenter.heroku.com/changelog-items/908) to run database migrations it would be nice to have a way to skip migrations when using parity.

Release phase is better because new code will be deployed only when release command is executed successfully and since db migrations on

[2016-09-08 20:45] geoffharcourt commented on #104
@fabn I'm definitely interested in leveraging this functionality. While this feature is in beta and has known bugs I'd like to wait until it's in general availability before we shape Parity to conform to it.

Leaving this issue open to track the release progress of the feature.

[2016-09-08 21:27] fabn commented on #104
@geoffharcourt an immediate improvement that user can benefit from could be something like this:

[code]

In this way if a project is using this feature would not have his migrations run by parity.

[2016-09-16 15:44] geoffharcourt commented on #94
Implemented in 80eafa3587076ec73c6fdc4b8ce02fddbb5855ad!

[2016-09-16 15:44] #94 closed

[2016-09-16 15:46] geoffharcourt commented on #102
Hi @8vius can you paste the entire output of the error, and check that `DATABASE_URL` is also defined on production? I've never encountered this error with Parity, and want to see what specific circumstances might be causing it.

[2016-10-18 12:03] naps62 opened #108 "Nothing seems to work. "fork: retry: no child processes""
After using the rubygems release for a while, I just installed this from the latest release linked on github

I tried both 1.0.0 and 0.10.0, both with the same result:

![screenshot from 2016-10-18 12-57-06](https://cloud.githubusercontent.com/assets/283819/19476774/f224444a-9532-11e6-9105-b884b4577673.png)

![screenshot from 2016-10-18 13-00-11](https://cloud.githubusercontent.com/assets/283819/1

[2016-10-18 12:51] geoffharcourt commented on #108
Hi, can you provide some further information about your OS version and the line that sets your `stag` alias?

[2016-10-18 13:25] naps62 commented on #108
@geoffharcourt sorry, totally forgot about that

`stag` is a simple `alias stag=staging`

my machine is running Arch Linux:
[code]

The releases I tried were: `parity-1.0.0-linux-x86_64.tar.gz` and `parity-0.10.0-linux-x86_64.tar.gz`

I later tried to install the older `0.10.0` via rubygems, and that one seems to run fine.

PS: `linuxbrew` doesn't seem to be an option for me. I had never used it,

[2016-10-21 15:09] #102 closed

[2016-10-21 15:09] geoffharcourt commented on #102
Please check back if you can post the output. I'm unable to help without further information.

[2016-10-21 15:15] geoffharcourt commented on #108
@naps62 one more question, can you paste the output of `ulimit -a` here? I'm trying to see if you're bumping up against a process limit.

[2016-11-03 17:45] mike-burns commented on #108
Does just `staging` on its own work?

And just to make sure, what does this produce: `cat $(which staging)`

[2016-11-03 18:18] naps62 commented on #108
@mike-burns tested once again to answer your question. I explicitly ran the binary from the downloads directory. Screenshot below.

This time I noticed the following new info:

1. This also happens even if the repository doesn't have parity set up (no staging/production remotes). This app isn't even hosted on heroku
2. It also happens if I just run the staging command outside of a git repository a

[2016-11-03 18:25] mike-burns commented on #108
OK, if it's hanging when you've passed no arguments, that's suspicious. Did you also get the `fork` errors then, too?

I suspect line 1: `#!/usr/bin/env ruby`. Can you do some debugging around that for us: run `/usr/bin/env ruby` and confirm that works; show `type -a ruby` and let us know if that's the right one?

[2016-11-03 18:28] naps62 commented on #108
@mike-burns oh yeah, I didn't even notice this was an older screenshot, and didn't have the error. Then the last one probably failed as well

It's like I said above. Once the error shows up, no new processes can start (so I can't take a screenshot)
But yes, the same error does show up. It usually takes about 5 to 10 seconds

[2016-11-03 18:31] mike-burns commented on #108
I'd be quite happy to have text pasted at me instead of a screenshot. Some debugging questions:

1. `type -a ruby` - looks reasonable?
2. `/usr/bin/env ruby` should run the Ruby interpreter; kill it with `^c`. But does that have trouble forking?

[2016-11-03 18:39] naps62 commented on #108
@mike-burns was so focused trying to get the screenshot on time, I didn't even remember that copy&paste existed :stuck_out_tongue:

not sure if this is what you meant, but all seems to be good here:

![2016-11-03-183504_594x250_scrot](https://cloud.githubusercontent.com/assets/283819/19979978/4998aa36-a1f4-11e6-8212-21b321ce682c.png)

(I pressed `^d` to end the ruby input, not `^c`)

I also notice

[2016-11-03 18:43] mike-burns commented on #108
OK, you got me to download it and try it myself. You're right, it doesn't work on Linux (`Linux autumn 3.16.0-4-amd64 #1 SMP Debian 3.16.7-ckt20-1+deb8u3 (2016-01-17) x86_64 GNU/Linux`).

[2016-11-03 18:46] naps62 commented on #108
well, that's a shame :disappointed:

if you have any guesses as to why that might happen, I have some investment tomorrow where I could try to track this down.

It's actually interesting to me that a supposedly harmless binary is able to mess up with my system on this level

[2016-11-03 18:47] mike-burns commented on #108
If you check `ps ax | grep bash` after running it, you'll see why. (`pkill /bin/bash` after that.)

I think the next step is to remove Traveling Ruby.

[2016-11-03 18:55] geoffharcourt commented on #108
This has been on my wishlist for a while, now we have a reason. For now I'd fall back to the pre-1.x Ruby gem, and we'll cut a new version with executables if removing Traveling Ruby takes too long.

[2016-11-03 18:58] mike-burns commented on #108
The actual non-Traveling Ruby code works, so if you can install `parity-1.0.0-linux-x86_64/lib/app/bin/staging` as the `staging` command, you'll be good. This won't be trivial to install -- it expects files in a specific path -- but pretty straightforward with some Ruby knowledge.

[2016-11-18 20:17] geoffharcourt commented on #108
I'm making progress on removing Traveling Ruby and relying on the user's installed system Ruby, will update as that becomes ready for testing.

[2016-12-07 15:12] trivett opened #109 "Installing parity executables on Ubuntu"
Huge fan of Parity on OSX, but I can't seem to get it to work on Ubuntu. After gem install I get the following message:
[code]
But there doesn't appear to be any apt repo to speak of. `apt-cache search parity` turns up nothing. Anyone else succeed in getting the production, staging and development executables to work on Ubuntu?

Ubuntu 16.04
Ruby version 2.2.2
git version 2.7.4
pg_restore (Postgre

[2016-12-09 16:36] pfac commented on #109
Got them working on a machine with Ubuntu. Download the package for Linux from [the releases page](https://github.com/thoughtbot/parity/releases), extract it somewhere on your system and [add the `/bin` to the `PATH` environment variable](http://askubuntu.com/questions/141718/what-is-the-path-environment-variable-and-how-do-i-add-to-it). Cheers

[2016-12-09 17:51] geoffharcourt commented on #109
@pfac thank you for the advice! We're going to look to get this distributed to package managers so it's easier to install in the future.

[2016-12-13 23:45] abhchand opened #114 "Error: Multiple apps in git remotes"
I have a production app (`project-jedi`) and a staging app (`project-sith`) hosted on Heroku.

I'm using parity `v0.10.0`

My relevant git remotes are defined as

[code]

When trying to restore staging from production, I'm getting the below error.

I've successfully been using this restore command for several months and nothing has changed in terms of my setup as far as I know

[code]

Even trying

[2016-12-14 15:16] geoffharcourt commented on #114
@abhchand I think this issue is related to breaking changes to the Heroku CLI. We've pushed version 2.0.0 out to Rubygems. There will be a [push to Homebrew shortly](https://github.com/thoughtbot/homebrew-formulae/pull/40).

[2016-12-14 18:28] djcp opened #115 "Consider supporting and encouraging usage of heroku pipelines"
You're probably aware of them, but [pipelines](https://devcenter.heroku.com/articles/pipelines) may be able to improve or supplant some of the workflows parity provides.

[2016-12-14 18:34] geoffharcourt commented on #115
Hey @djcp that's certainly been on my mind.

My next priority (after getting 2.0.0 on Homebrew) is to remove Traveling Ruby and stabilize distribution to non-macOS OSes for the longer-term.

[2016-12-15 02:47] #109 closed

[2016-12-15 03:08] geoffharcourt commented on #114
@abhchand I missed that you were using Parity 0.10.0. That version no longer works because of changes to Heroku's CLI. Please update to 2.0.1 or later from Rubygems or Homebrew.

[2016-12-15 03:08] #114 closed

[2016-12-15 03:08] geoffharcourt commented on #115
I'm going to close this out until we have a PR. Thanks for the idea!

[2016-12-15 03:08] #115 closed

[2016-12-15 03:10] geoffharcourt commented on #108
@naps I've added back installation of the executables via Rubygems as of version 2.0.0. I'm going to tackle a more ambitious effort for Linux packaging soon, but for now the best way to get the parity excutables would be to install version 2.0.0 or later from Rubygems. Thanks for your patience, and apologies for the inconvenience.

[2016-12-15 03:10] #108 closed

[2016-12-15 18:57] geoffharcourt opened #117 "[Backups] Heroku CLI breaking changes as of Dec 15 2016"
https://blog.heroku.com/the-new-heroku-cli

Heroku's CLI release has breaking changes that affected the output we used to process backups and restores.

Options for resolution:

- Grep the new output format
- Use JSON format output and parse with `jq`
- Rewrite Parity as a plugin
- Abandon backup/restore commands

[2016-12-15 19:20] gabebw commented on #117
I agree with what you just said in Slack: parsing JSON with `jq` is likely the best path forward. Though maybe using it as a plugin allows better integration?

I know I'm not the maintainer, but I do really appreciate using the backup/restore commands.  They're one of my most-used commands; certainly they save me the most time.

[2016-12-15 19:51] geoffharcourt commented on #117
UPDATE: the backup/restore failures may have been resolved in an auto-update, but given the number of changes that recently happened I think moving away from relying on unformatted output is not safe.

[2017-01-02 19:01] eignerchris commented on #108
:+1: thanks for fixing in the gem distribution and documenting here.

[2017-01-13 04:30] farmisen opened #118 "ild process"

[2017-01-13 04:30] #118 closed

[2017-02-11 00:05] vovimayhem opened #120 "Load environment variables from dotenv file"
As an alternative to #106, it would be useful if parity could load variables from a `.env` file (if it exists).

The problem we have right now is that our `config/database.yml` will not contain any information about our development host, port, etc, because it's read out from the `DATABASE_URL` env variable (which is set up in our compose file, working the same way heroku does):

[code]

Not having

[2017-02-13 14:15] geoffharcourt commented on #120
Hi @vovimayhem this is an interesting use case. We supported environment variables at one point for DB config, but removed it because maintaining gem dependencies for a non-Rubygems executable ended up being overly complicated and brittle. I'm open to revisiting this if there's a solution that's reliable for packaging on macOS (Homebrew) and apt and Rubygems that works.

One question: could you ge

[2017-02-13 18:05] vovimayhem commented on #120
A binstub like you propose will certainly work - although we'll deviate from documentation using `bin/development do-something production` instead of just `development do-something production`...

Back to the issue, I'm aware that runtime gem dependencies have been avoided in this project (parity has none!). I originally thought about including [bkeepers/dotenv](https://github.com/bkeepers/dotenv)

[2017-02-13 18:42] geoffharcourt commented on #120
Hrm. I think `cat`ing the `.env` file isn't going to be a globally applicable solution because some groups are using `.env.local`, etc. Let's both think about what we can do to accommodate this use case that won't break or be confusing to other users of the utility.

[2017-02-14 18:51] croaky commented on #120
I'd be +1 on env variables if we kept this principle in mind:

https://peter.bourgon.org/go-best-practices-2016/#configuration

[2017-02-16 03:28] vovimayhem commented on #120
I'm having a bit of a change in heart regarding this... or at least our use case anyway.

I'm realizing that we (the ones using docker / virtualized services for development, including yours truly and @walreyes) should just include `parity` (and the heroku toolbelt) in our development container image, and run `parity` from within the running development container itself.

BUT, and following @croak

[2017-04-01 07:01] tannakartikey opened #125 "Can't parse `database.yml` with environment variables and ERB"
Hello,

I installed it with apt-get on Ubuntu 16.04

`development restore-from staging` gives me the following error:
[code]

Is there any way I can debug it or check out logs to know what is the error exactly for?

I use rbenv. I tried it with Ruby 2.1.1p76, 2.2.2p95

[2017-04-03 13:19] geoffharcourt commented on #125
@tannakartikey do you have your database defined with an ERB file and a dynamic value?

[2017-04-03 17:49] tannakartikey commented on #125
@geoffharcourt sorry did not get you about ERB file.

I have used [Figaro](https://github.com/laserlemon/figaro/) for ENV variables. Variables are used in the config/database.yml. Please find it below:

[code]

[2017-04-03 17:58] geoffharcourt commented on #125
Hi @tannakartikey we don't currently support dynamic database names via environment variables (your database config is using ERB-style variables).

[2017-04-03 18:01] tannakartikey commented on #125
Ok. Thank you.
Can I contribute that feature? What are the ups/downs for having the feature?

[2017-04-03 18:22] geoffharcourt commented on #125
You are very welcome to make a PR?

The requirements for this to work in acceptance is that whatever solution for bundling the ERB-parsing (you'll need that to parse the `database.yml` file since that's not valid YAML until the ERB is processed) and the environment variable-loading needs to work when the gem gets repackaged for distribution with Homebrew and APT. We experimented with ERB support p

[2017-04-03 18:30] geoffharcourt commented on #120
A solution here would likely be a portion of the total solution required to accomplish #125.

[2017-04-17 02:10] mwenger1 opened #126 "Recording deployments in New Relic"
New Relic [supports recording deployments](https://docs.newrelic.com/docs/apm/new-relic-apm/maintenance/recording-deployments). I was curious if it was within the scope of parity to support having:

`production deploy`

send a record event to New Relic

[2017-04-24 21:27] geoffharcourt commented on #126
I've been doing this with my client projects that use New Relic, but since it's not assumed that would be in place, I don't think we can do this (I'd rather not build in a bunch of NR-detection code). I think it might be better for projects to do this by a Rake task that gets called by the Heroku buildpack on deploy.

Thoughts?

[2017-04-25 15:58] mwenger1 commented on #126
Makes sense to find a different approach.

I'm gonna give this [buildpack](https://elements.heroku.com/buildpacks/outlearn/heroku-buildpack-newrelic-deploy) a try.

[2017-04-25 15:58] #126 closed

[2017-04-25 17:19] geoffharcourt commented on #126
@mwenger1 I think you can specify custom rake tasks in the main Rails buildpack.

[2017-04-29 19:20] jfilipe opened #127 "Post restore tasks"
Hi there,

When I'm copying the production db to staging or development, I'd like to kick off an obfuscation process. Changing users email addresses, resetting password hashes and removing any sensitive PII data. Does parity allow for any hooks to run post restore? Like executing some sql or kicking off a rake task?

[2017-04-29 20:25] geoffharcourt commented on #127
Hi!

We don't have any feature to allow custom post-process hooks. Since the obfuscation process is (I assume?) app-dependent, it's probably easiest to do this by making a shell script that executes the restore and then runs the obfuscation for your chosen remote environment.

If there's an easy way to do this in Parity that isn't language or framework dependent maybe we could discus a PR, but I'm

[2017-04-29 20:25] #127 closed

[2017-05-02 17:41] carlosramireziii opened #128 "Unexpected flag `--confirm` when restoring to remote environment"
Hi there!

When running the `staging restore development` command from my Linux machine, I receive the following error:

![screen shot 2017-05-02 at 1 36 28 pm](https://cloud.githubusercontent.com/assets/362585/25630959/da1320b6-2f3c-11e7-826a-c6f642513fcd.png)

I just installed the latest version of Parity using the "On Debian" instructions.

Here is the result of `heroku --version`:

[code]

The

[2017-05-02 17:48] geoffharcourt commented on #128
Hi, I suspect that the Heroku CLI has changed its behavior with regard to the `--confirm` switch. We had a similar issue in #122 when unrecognized arguments started raising errors.

We should do a PR to fix this in a similar fashion to #122 once we've confirmed what the proper way to pre-confirm the database overwrite is from the Heroku CLI docs.

[2017-05-02 17:58] carlosramireziii commented on #128
Got it! Makes sense, thanks for the quick response.

Perhaps `--confirm` is no longer needed because the `heroku pg:push` operation won't happen unless the remote DB is already empty?

For example, when I initially tried pushing my development database to the remote DB, Heroku prevented it saying `Remote database is not empty. Please create a new database or use heroku pg:reset`.

When I ran `hero

[2017-05-02 18:08] geoffharcourt commented on #128
Thanks for the research. We may want to make the `pg:reset` with `--confirm` part of the staging restore action.

I will be able to do a PR for this later in the week and ship a new parity version with the fix. (If you want to tackle the PR yourself I'd be happy to review it.)

[2017-05-05 14:16] carlosramireziii commented on #128
Apologies for the delayed response.. I think you'll be able to get to a PR for this sooner than I will so please go ahead.

Thanks again for the fast response and turnaround on this!

[2017-05-12 15:02] geoffharcourt commented on #128
@carlosramireziii can you dig in to your installed library and find the `version.rb` file and confirm the version you have installed? Looking at the source I'm a little surprised you're having this issue if you're up to date.

[2017-05-12 18:34] #128 closed

[2017-05-19 00:26] geoffharcourt opened #130 "`development restore` fails if tmp doesn't exist"
We should `mkdir -p tmp` before cURLing the backup from Heroku.

[2017-05-19 20:37] #130 closed

[2017-06-09 14:55] geoffharcourt commented on #104
Hi @fabn, small question:

If you don't want to run migrations, at that point isn't it easy enough to just `git push production`? I see value in making migrations optional, but since we're not doing anything in the `deploy` command other than push and run migrations, this seems like it can be accomplished with no code.

[2017-06-28 06:14] ledermann opened #132 "Deploy other branch to production?"
I'm trying to use **parity** for deploying a branch named `stable` to production. This seems not to be possible, because there is a hard-coded `git push production master`:

https://github.com/thoughtbot/parity/blob/c6b8fc9ea2688d254e645440c9a4cc5abcc7aa6f/lib/parity/environment.rb#L51

Is this intended? How to configure the branch used for production deployment?

[2017-06-28 19:27] geoffharcourt commented on #132
Hi @lederman this is intended functionality (intended to prevent accidental deploying of a feature branch to production). Are you pushing `stable` on your local machine to `master` on Heroku?

We've shied away from building configuration options or accommodating a configuration file. If it doesn't make using or packaging Parity significantly more complicated I would be happy to look at a PR.

[2017-06-29 08:14] ledermann commented on #132
@geoffharcourt yes, I want to push my `stable` branch to `heroku:master` (like `git push production stable:master --force`).

Maybe this is not a good practice. For my project I will think about another branching model like git-flow, where the branch for production deploy is `master`. This seems to be better fit with **parity**.

[2017-06-29 13:23] geoffharcourt commented on #132
I think if you're using Heroku it makes sense to have your local `master` line up with the production app's `master`. On a recent client project I worked on, the GitHub base branch wasn't `master`, which helped make this flow work.

I don't think it's likely we'll ever append the `--force` argument for production deploys, but I think it may get passed along as an argument.

[2017-06-29 14:26] ledermann commented on #132
You are right, thanks for your detailed explanation!

[2017-06-29 14:26] #132 closed

[2017-10-06 17:40] geoffharcourt commented on #117
I'm closing for now, since we haven't had any breaking changes to the CLI since this issue opened.

[2017-10-06 17:40] #117 closed

[2017-10-06 17:41] geoffharcourt commented on #120
I'm closing the issue out, but I'm open to PRs that might solve this but are still distributable outside of Rubygems.

[2017-10-06 17:41] #120 closed

[2017-10-06 17:41] geoffharcourt commented on #125
Closing this out, but open to PRs that are distributable via package managers.

[2017-10-06 17:41] #125 closed

[2017-12-01 08:17] hundsim opened #137 "ERROR: relation does not exist"
I can successfully import db from development to staging, but exporting from production to development results in `WARNING: errors ignored on restore: 54`, like this one:

    pg_restore: dropping FK CONSTRAINT events fk_rails_2551b6fe99
    pg_restore: [archiver (db)] Error from TOC entry 3013; 2606 169195 FK CONSTRAINT events fk_rails_2551b6fe99 gtdxahketybicf
    pg_restore: [archiver (db)] cou

[2017-12-04 14:44] geoffharcourt commented on #137
@hundsim a couple questions so we can track down what's going on:

1. Do you know what version of parity you're running?
2. How did you install parity (Homebrew, apt, Rubygems)?
3. What does your `database.yml` look like? Can you paste it here without the `password` lines?

[2017-12-04 18:57] croaky commented on #137
May not be related, but I just noticed Parity may want to use the `--if-exists` flag in the `dropdb` invocation.

Could also add a [Issue Template](https://github.com/blog/2111-issue-and-pull-request-templates) to request issue reporters include `which development`, `brew list parity`, etc

[2017-12-22 21:08] #137 closed

[2017-12-22 21:08] geoffharcourt commented on #137
Please let me know if you have more detail we can use to diagnose!

[2017-12-22 21:11] geoffharcourt commented on #104
I'm closing this out for now. We can reopen it if there's further discussion to be had.

I'm a little squeamish about supporting functionality that we're not regularly using on projects at the moment, as it makes it harder to do acceptance testing for releases.

[2017-12-22 21:11] #104 closed

[2018-01-12 05:52] eignerchris opened #143 "Etc.nprocessors breaks compatibility with ruby 2.1.x"
https://github.com/thoughtbot/parity/blob/c05fd7aab4a2d934303b84d69b2c54b2f113a26a/lib/parity/backup.rb#L75

Looks like `Etc.nprocessors` method was introduced in ruby 2.2.

Docs from pg_restore say: "A good place to start is the number of CPU cores on the server, but **values larger than that can also lead to faster restore times in many cases**"

Given that last statement, is there any harm in u

[2018-01-12 18:14] geoffharcourt commented on #143
Hrm. We should be very thoughtful about what we do here. Ruby 2.1 is EOLed, so I don't want to tie ourselves in knots with a solution if there's not a very clean one.

[2018-02-02 02:55] geoffharcourt commented on #143
@eignerchris, I've authored a potential fix in #144.

[2018-02-02 19:13] #143 closed

[2018-02-08 15:11] bbugh commented on #125
@geoffharcourt we're interested in this as well. Do you happen to remember any details about what went wrong with the package managers so we have an idea of where to start if we come around to offering a PR for this?

[2018-02-08 15:18] geoffharcourt commented on #125
@bbugh Traveling Ruby is no longer supported and [has a version of Bundler that causes permissions issues when installed through Homebrew](https://github.com/phusion/traveling-ruby/pull/81). If you want to try tackling a PR that includes ERB, I would enthusiastically support this.

Any solution we implement would have to work through a Homebrew install (and likely apt), so keep those in mind if yo

[2018-02-08 15:28] bbugh commented on #125
Got it, thanks for the fast reply. We made a local patch that has resolved the issue for now, but I imagine it's not portable. We'll see if this works or if we can submit a PR for this project.

[code]

[2018-02-08 15:32] geoffharcourt commented on #125
@bbugh possibly relevant: https://github.com/thoughtbot/homebrew-formulae/blob/master/Formula/parity.rb

I went through a couple iterations of this before giving up. I'd be pretty excited to see this make it back into the utility.

[2018-03-02 04:47] dbinetti opened #146 "restore-from fails"
Help us track down and resolve parity problems faster with this template.

## What command did you execute?
`(barberscore-api)bash-3.2$ development restore-from production`
## What did you expect to happen?
Restore from backup
## What actually happened?
[code]
## Some information about your installation

- What's your operating system?
macOS Sierra 10.13.3

- What's the output of `which developmen

[2018-03-02 04:50] dbinetti commented on #146
I should also mention it has been working flawlessly; I've only been updating application code so I'm not sure what's causing it to fail.  Local Postgres and Heroku Postgres both 10.2

[2018-03-02 07:26] yun313350095 commented on #146
me too

[2018-03-04 20:13] geoffharcourt commented on #146
I'm seeing this as well. We saw some automated backups outside of Heroku (not using Parity) fail for a similar reason. I'm not sure what the issue is, but I suspect this is a bigger problem. I'm going to try executing the commands for download and restore separately, if you could all do the same that would be helpful.

[2018-03-04 20:39] geoffharcourt commented on #146
I can't download the files with curl using the command we currently use in the code (macOS, High Sierra 10.13.3) due to an error with libcurl. I am now curious if Heroku used to expose these DBs using HTTP and now they are HTTPS. @yun313350095 are you also on macOS?

[2018-03-04 20:40] geoffharcourt commented on #146
I am able to download using wget, so that may be the easiest way to fix this beyond having people do a customized installation of curl with Homebrew.

[2018-03-05 14:05] geoffharcourt commented on #146
Hi, the issue seems to be that Heroku did an upgrade for a vulnerable patch version of PG 9.6.x. You need to update your local PG version to 9.6.8 or 10.3.x to resolve the issue.

https://www.postgresql.org/docs/9.6/static/release-9-6-8.html

[2018-03-05 14:53] dbinetti commented on #146
Not for me -- on current versions both local and prod, and have been
throughout.  was the first thing I checked.

On Mon, Mar 5, 2018 at 6:05 AM, Geoff Harcourt <notifications@github.com>
wrote:

[2018-03-08 22:52] dbinetti commented on #146
now functional again.  not sure what changed, but perhaps was on the Heroku side.  regardless, working and closing.

[2018-03-08 22:52] #146 closed

[2018-06-15 15:56] seanpdoyle opened #147 "Integrate with Rails 5.x destructive action on production guards"
## What command did you execute?

After restoring a local database from production with:

[code]

I tried to drop the database:

[code]

## What did you expect to happen?

After cloning a database from `production` to `development`, I expected to be able to interact without any precautionary guards.

## What actually happened?

With the advent of some [Rails guards against dropping production](htt

[2018-06-15 16:13] geoffharcourt commented on #147
Hi @seanpdoyle! I think this would be a great scenario to handle.

The only reason I've held off so far is that resolving it by setting the DB value that removes the check would make the Parity DB commands Rails-specific.

Maybe we could always run with `DISABLE_DATABASE_ENVIRONMENT_CHECK=1` for the drop command? I worry about somehow blowing someone's production DB away if they accidentally had `

[2018-06-15 17:18] seanpdoyle commented on #147
@geoffharcourt that makes a lot of sense.

I grepped for Rails in the codebase and found some code related to migrating after a deployment. Other than that, there isn't any local-environment focussed Rails code.

This also might be a non-issue in later versions of Rails. The warnings in the issue itself are on a `5.0.x` project. They differ from a `5.2.x` project in that the later version of Rails

[2018-07-15 20:00] geoffharcourt commented on #147
My prior attempt to resolve this issue in a way that wouldn't adversely affect non-Rails (or old Rails) apps was to delete the AR metadata table if it was present, but that also causes a warning. Not sure what the best approach is now, maybe we could update the row in the table if it exists?

[2018-09-01 01:18] hhff opened #154 "Backups are losing their default function (breaking "model#create")"
Thank you so much for the hard work!

## What command did you execute?

[code]

FYI - on staging:
[code]

and on production:
[code]

It appears that `@default_function` is not being persisted with the database backup.

I also observe the same issue when using `pg:copy`:

`heroku pg:copy production_app::DATABASE_URL DATABASE_URL -a staging_app`

## What did you expect to happen?

A post would be cr

[2018-09-01 12:19] #154 closed, assigned to nobody

[2018-09-01 18:01] hhff commented on #154
Thanks, @geoffharcourt !

In case anyone else stumbles across this - I realized this morning that my staging database was on Heroku's `hobby-dev` plan, and my production backup was blowing out it's row limit.

Not sure if the issue was with the row limit (heroku claims not to block inserts until 7 days after the violation) or with hobby-dev not importing sequencing functions, but either way, upgra

[2018-09-09 14:16] geoffharcourt commented on #147
Update: we're going to remove migrations from the `deploy` command in 3.0.0 (allowing users to opt-in to that behavior and get better results via Heroku's [release phase feature](https://devcenter.heroku.com/articles/release-phase), so if this is a breaking change, I'd love to do it now to be least disruptive to users' expectations.

[2018-09-15 14:13] #147 closed

[2018-10-19 13:20] kissu opened #159 "How to upgrade to the version 3.0.0 with brew"
Hi, I'm not able to upgrade to the version 3.0.0 with Brew. 🍺

I ran `brew update` twice, `brew tap thoughtbot/formulae --full` and there is no version `3.0.0` in it.
I tried `brew outdated` and as expected, there is no presence of `parity`.
I also tried `brew upgrade parity@3.0.0` but there is no available formulae for this one.

Did I miss something ? Like is it still in beta ?

## Some informat

[2018-10-19 13:45] geoffharcourt commented on #159
Hi @kissu, we need this PR to be merged in order to have Parity 3.0.0 via Homebrew: https://github.com/thoughtbot/homebrew-formulae/pulls/51

[2018-10-19 13:55] kissu commented on #159
Thank you for the clarification and for pinging the dudes responsible of the repo. 🙏

[2018-10-21 13:52] nickcharlton commented on #159
Closing as https://github.com/thoughtbot/homebrew-formulae/pull/51 was also merged.

[2018-10-21 13:52] #159 closed

[2018-10-22 17:50] joshRpowell opened #161 "Error: No available formula with the name "homebrew/core/heroku" (dependency of thoughtbot/formulae/parity)"
Help us track down and resolve parity problems faster with this template.

## What command did you execute?

[code]

## What did you expect to happen?

A clean install

## What actually happened?

[code]

Parity depends on heroku-toolbelt
https://github.com/thoughtbot/homebrew-formulae/blob/8cd787efaa9881c7e3a93ba2028b216f7fa34e71/Formula/parity.rb#L24

![1 zsh 2018-10-22 13-41-14](https://user-im

[2018-10-22 17:52] joshRpowell commented on #161
not sure how I missed this PR https://github.com/thoughtbot/homebrew-formulae/pull/53

it should resolve this issue.

[2018-10-23 08:53] kissu commented on #159
![image](https://user-images.githubusercontent.com/5133074/47348376-a32d2380-d6b1-11e8-8f62-e592603df5f0.png)

Apparently I'm in v3.0.0 today but I still cannot use `pr_app`, did I miss something ? 😅

[2018-10-23 13:32] geoffharcourt commented on #159
The formula didn't add the new `pr_app` executable. This worked in my testing because I had the gem version already installed. I put up https://github.com/thoughtbot/homebrew-formulae/pull/55 to resolve this.

[2018-10-23 17:16] mjankowski commented on #161
I'm closing this on the assumption that the linked issue sorted it out, please reopen if not.

[2018-10-23 17:16] #161 closed

[2018-10-23 17:17] mjankowski commented on #159
I just merged the `3.0.0.1` homebrew formula release, which does seem to resolve the issue of no pr_app being included.

[2018-10-24 09:12] kissu commented on #159
Thanks all, it's working. 🎉

[2018-11-30 12:45] clowder opened #164 "Review App prefix truncated to 22 characters"
When using the `pr_app` command I was running into issues because we have a long application name, but Heroku appears to truncate that to 22 characters when using it for the Review App prefix.

Opening this as an issue as I've only got a data-point of one and it would be nice to confirm this with other users.

Thanks for all your hard work ❤️ 💻

[2018-11-30 15:09] #164 closed

[2018-12-19 13:22] dbinetti opened #166 "Restore process fails"
## What command did you execute?
`staging restore-from production`

## What did you expect to happen?
Overwrite staging with most recent production backup.

## What actually happened?
[code]

## Some information about your installation

- What's your operating system?
MacOS 10.14.2

- What's the output of `which development`, `which staging`, `which production`?
  Parity has had multiple installat

[2018-12-20 13:07] dbinetti commented on #166
Yep, was transitory!  Thanks...

[2018-12-20 13:07] #166 closed

[2019-02-28 18:04] rubendinho commented on #164
Hi @geoffharcourt and @clowder I am experiencing this problem on v3.1

The original app is called:
`budgit-envelopes-api-staging`
The review app Heroku created:
`budgit-envelopes-api-sta-pr-25`

When i run `pr_app 25 console`, I get:
[code]
So it looks like while Parity is truncating the name to 22 characters as per #165, in my case, Heroku is truncating to 24 characters.

I suspect that @clowder

[2019-04-16 15:53] vfonic opened #170 "`brew install parity` still fails"
Hey guys!

Seems like `brew install parity` got broken again. This might be the fix:
https://github.com/thoughtbot/homebrew-formulae/pull/61

https://github.com/thoughtbot/parity/issues/161
https://github.com/thoughtbot/homebrew-formulae/pull/53

Is there any way to install older version of parity?
I'm currently parity-less. 😱

`$ brew list parity`

`$ brew list heroku`

`$ brew info parity`

`$ b

[2019-04-17 16:01] vfonic commented on #170
This has just been fixed by: https://github.com/thoughtbot/homebrew-formulae/pull/61

🎉

[2019-04-17 16:01] #170 closed

[2019-05-23 15:20] mjankowski opened #171 "Feature request: specify the database to pull from"
This came up in Slack today -- it would be PLEASANT if you could do something like `development restore production PINK` and parity would know to pull the most recent backup from the named DB in the relevant remote. Yes sir.

[2019-06-26 15:11] geoffharcourt commented on #171
This is a great idea, I'm hoping to work on it this month.

[2019-08-08 22:47] concept47 opened #172 "calling parity for customized environments without putting `bin/` before the environment"
Help us track down and resolve parity problems faster with this template.

## What command did you execute?
`staging2 deploy`

## What did you expect to happen?
I have a binstub in `bin/staging2` that works when I call `bin/staging2 deploy` I expected that to be called when I executed `staging2 deploy`

## What actually happened?
-bash: staging2: command not found

I know this is probably a newb i

[2019-09-09 02:17] geoffharcourt commented on #172
Hi!

You can solve this issue with [this .git/safe trick](https://thoughtbot.com/blog/git-safe) from the thoughtbot blog. It allows you to put everything in `bin` into your path only for repositories you trust.

[2019-09-09 02:17] #172 closed

[2019-09-09 02:24] geoffharcourt commented on #171
@mjankowski this turns out to be not straightforward at all. `heroku pg:backups:url`, which is how we currently fetch URLs, can take a backup ID, but it can't take a database name (unlike many of the other `pg` subcommands). We would certainly benefit from doing this, so I'd like to see it happen, but I think it requires a significant reworking of how we get backup URLs.

[2019-09-10 14:10] mjankowski commented on #171
Yeah... we'd need something like -- use `pg:backups`, parse out the lines, find the first one matching the correct DB name, get the backup ID for that, request the URL for that backup ID, etc. Sort of clunky compared to current for sure.

[2019-09-10 14:13] mjankowski commented on #171
I wonder if the Heroku CLI maintainers would feel about a request to add a `--database` flag (or just the name as an argument) to the `pg:backups` command, and have it return only backups on that db? That would let us more directly get the latest backup and/or ID for the DB we want.

[2019-09-10 14:41] geoffharcourt commented on #171
Yeah, I think without that we're going to be reduced to a lot of JSON and stdout parsing that will add fragility.

[2019-11-18 02:07] geoffharcourt opened #174 "Feature need: handle new Heroku pipeline review app convention"
Heroku's new review apps system no longer names review applications with the same number as the Github PR in a predictable manner. From my conversations with their support team there's no way we can easily run a PR app without knowing the app suffix or for us to also connect to the Github API.

[2019-12-11 03:53] jessiebbaxter opened #175 "Development restore not working after Catalina upgrade"
##  What command did you execute?

`development restore-from production`

## What did you expect to happen?

I expected to restore my production backup into development

## What actually happened?

I'm not sure which parts of the terminal log would be helpful so including the entire thing here. Apologies for the length.

`pg_restore: connecting to database for restore
pg_restore: dropping FK CONST

[2019-12-31 19:54] etcook commented on #175
I've also been running into this across all my devices running Catalina. I'm not sure if that's the issue, as I've only done a clean restore from 2 devices I've purchased since Catalina was released, but I can no longer get a clean restore.

[2019-12-31 20:15] etcook commented on #175
After doing some research and testing, this is actually related to the -j option and may be an older concurrency bug with pg_restore. Is there any way to disable using -j in the parity gem?

[2020-01-07 01:02] etcook commented on #175
I did some further testing and it seems like any -j option causes this issue. I've also manually backed up and restored a database with the -j option without an issue. It seems that this is an issue ONLY with Heroku backups. I have a support ticket in with Heroku about it and will update this issue accordingly.

[2020-01-08 12:50] etcook commented on #175
Response from Heroku:

[2020-01-08 17:41] swanson commented on #175
Maybe a related issue that offers some other workarounds: https://github.com/PostgresApp/PostgresApp/issues/538

We're seeing issues restoring to development from Heroku backups. Still trying to determine if Mojave vs Catalina or Postgres.app vs pg from brew has an impact, but somewhat reluctant to wipe all development dbs if we can't restore at the moment 😬

[2020-01-08 17:53] etcook commented on #175
@swanson Restores from manual backups work without issue. Heroku restores work as long as you don't use the -j option, which unfortunately, parity does automatically and after looking at the source, there doesn't seem to be a way to disable that feature.

[2020-01-08 17:56] swanson commented on #175
@etcook ah, sorry I misinterpreted this line: "It seems that this is an issue ONLY with Heroku backups" and your comment about having an open ticket with Heroku to mean that you could not restore from a Heroku generated backup *at all*.

Thanks for your comments about the `-j` flag, it was able to get us unblocked for the moment.

[2020-01-14 21:54] etcook commented on #175
I've tested and confirmed that the Heroku backups will restore as long as you're using pg_restore < 12. I used asdf to install (and shim) 11.6, and have Parity gem restores working. I will continue to work with Heroku to try to resolve.

[2020-01-15 02:10] geoffharcourt commented on #171
@mjankowski we're no longer using Heroku for PG, so my work on this is not going to move nearly as fast. If there's a thoughtbuddy working on a project with followers who can work on this I'd love to see it make it into the library.

[2020-01-15 02:12] geoffharcourt commented on #174
We're currently getting around some of this with a custom app we built that connects to Heroku's API and Github's and links the things together by branch name, but for CLI use I think the best approach would be this:

- start from the branch connected to the pull request
- type `pr_app run rake middleware` or whatever you want to do
- parity hits the Heroku and maybe GH APIs to route to the right

[2020-01-27 15:09] itsjms commented on #175
Installing postgres@11 via `brew` fixed this issue for me as well. I'm on Mojave so not sure the Catalina upgrade is what triggers the issue in all cases. Thank you @etcook.

[2020-01-27 15:16] geoffharcourt commented on #175
We saw some issues with parallel backups and DBs larger than 20GB. Do any of you affected have databases bigger than that?

[2020-01-27 15:20] swanson commented on #175
No, our database is only 90 MB (per Heroku PG dashboard). We'll try to test out master (with #176 merged) to see if it resolves the problem.

[2020-01-27 15:21] itsjms commented on #175
@geoffharcourt DB was only 1GB. Before installing postgres@11 via homebrew I was using the Postgres.app and on postgres version 9.6 (which I now uninstalled) and I landed here from https://github.com/PostgresApp/PostgresApp/issues/538#issuecomment-578400612 which might somehow be related?

[2020-01-27 22:21] etcook commented on #175
The issue seems unrelated to size and seems to occur whenever you use pg 12 to restore a dump from a previous version of pg.

[2020-02-13 03:30] isab commented on #175
@etcook could you explain how you did this? like what you wrote on the command line please?

or if anyone knows a way I can install parity without the latest version of `pg_restore`

[2020-02-13 03:44] richiethomas commented on #175
@isab what happens if you install and run PSQL v 11 using [Postgres.app](https://postgresapp.com/)?  If you have PSQL installed via something like Homebrew, you might need to shut it down using `brew services stop postgresql`.  I'd be curious to know what happens if you run PSQL v11 via Postgres.app, and then install & run Parity.

[2020-02-13 07:39] isab commented on #175
@richiethomas using the Postgres app fixes it! wish i asked earlier, i spent hours trying to get brew to switch my versions.

[2020-02-13 07:46] richiethomas commented on #175
@geoffharcourt @etcook I wonder if the breakage is related to the following quote from [the PSQL v12 release notes](https://www.postgresql.org/docs/12/release-12.html#id-1.11.6.6.5):

[code]

The posted release date is 2019-10-03, for what it's worth.

[2020-02-13 22:07] isab commented on #175
@richiethomas @etcook sorry I might have spoke too soon.

So the `postgress.app` solved my problem with getting parity to run. but I'm actually still having a problem with the `pg_restore` dropping all the keys and indexes and not restoring them.

output here:
[code]

[2020-02-13 22:17] etcook commented on #175
@isab @richiethomas the version of pg_restore you are using is independent of Parity. Parity just runs the commands for you. That is why I suggested installing asdf, and setting 11.6 as your global/local version, so Parity will run while shimmed to the 11.6 installation. Installing a version with the Postgres.app doesn't necessarily meant that's the version that your shell is using.

To figure out

[2020-02-13 22:24] etcook commented on #175
[ASDF Getting Started](https://asdf-vm.com/#/core-manage-asdf-vm)

ASDF is an environment manager akin to RVM that supports multiple languages/frameworks/libs. It has a Postgres plugin that allows you to install multiple versions of pg, and set the specific version to use at a local, shell or global level.

Follow the directions above to install ASDF specific to your system. Then install the Postg

[2020-02-14 01:31] geoffharcourt commented on #175
asdf is awesome (and thank you @etcook for distinguishing between Parity and PG concerns here), but one note about using it for asdf is that I've seen several folks have trouble getting it working well with PG over SSL, which is not an issue for local development but can be for using `psql` to connect to remote databases.

[2020-02-14 02:08] swanson commented on #175
Just helped setup a new dev machine today, here is our current workaround for Catalina with `Postgres.app`:

Check the `pg_restore` version (`pg_restore --version`). If it's 12, things will not work.

Make sure you've followed this step in the [installation guidelines](https://postgresapp.com/):

`sudo mkdir -p /etc/paths.d &&
echo /Applications/Postgres.app/Contents/Versions/latest/bin | sudo tee

[2020-02-14 02:11] geoffharcourt commented on #175
If I'm understanding this correctly, the issues at this point are related to a mismatch of PG versions locally and on Heroku. If that's the case, we'll close this issue out shortly.

[2020-02-14 02:26] swanson commented on #175
My understanding of the current state of things:

- Installing parity via homebrew will also install postgresql via homebrew (if its not already there)
- Installing postgresql via homebrew will default to using v12 command line tools (latest)
- Using pg_restore v12 with Heroku backups will not work with `-j` flag
- The latest released version of parity has no option to disable `-j` flag

So the ha

[2020-03-11 17:42] swanson commented on #175
I installed the new `3.3.0` homebrew release of parity, undid my local changes to shim an older version of pg_restore.

[code]

I was able to do a fresh restore from Heroku to my local database (which is running pg 10) successfully. Thanks @geoffharcourt!

I think this issue can be closed. @jessiebbaxter could you try upgrading to Parity 3.3.0 and see if the problem persists?

[2020-03-12 23:16] lordofthedanse commented on #175
@swanson this fixed my issue: I recently upgraded to 12.2 on Heroku and a variety of indices and foreign_keys (but not all, and not consistently across different tables) were getting dropped, e.g.:
[code]
All is great now, so thanks for parity 3.3.0

[2020-03-13 00:59] geoffharcourt commented on #175
We can reopen if this is still problematic for anyone as of 3.3.3.

[2020-03-13 00:59] #175 closed

[2020-05-01 10:13] Aishwarya19966 commented on #114
$ heroku run rails c --app app1
$ heroku run rails c --app app2

[2020-05-12 10:55] gcolson opened #181 "Install from ubuntu not working"
I just installed parity using the "On Debian" install instruction from the repo : https://github.com/thoughtbot/parity#install

## What command did you execute?
I tried to run `production console` from a project deployed to heroku.

## What did you expect to happen?
I expect to access the heroku console for my production deployment of my app

## What actually happened?
I got this message :
bash: /

[2020-05-30 07:37] kushagrabansal commented on #114
@Aishwarya19966
Running rails c on ⬢ app1... !
 !    You do not have access to the app app1.

[2020-06-13 01:48] geoffharcourt commented on #174
Heroku's added the ability to go back to your own PR app names based on PR numbers now, so this is less necessary.

[2020-06-13 01:48] #174 closed

[2020-06-24 01:45] danielmcquillen opened #183 "What to use when 'development' means development in Heroku pipeline"
Sorry if this is obvious and I'm just missing it!

'development' seems reserved for the local database. How would you configure parity if one wants `development restore-from production` to copy the heroku production database to the heroku development server in a pipeline and something like `local restore-from production` to copy it to the local db.

I imagine defining 'local' and 'development' in

[2020-06-24 01:58] geoffharcourt commented on #183
Hi!

Heroku strongly advises against putting production data in review application databases (I think you're talking about review apps when you're talking about development servers?).

I think if your PR apps were named using the deterministic naming structure (note: not the default in the new pipelines, but configurable) that you could leverage the `pr_app` command to restore a production backup.

[2020-06-24 02:10] danielmcquillen commented on #183
@geoffharcourt  Thanks for the quick response. Aha. I guess you're right, I'm trying to bend parity to do something I probs shouldn't. I'll close the issue. Thanks again.

[2020-06-24 02:10] #183 closed

[2020-08-13 17:32] gabebw opened #184 "Feature request: deploying to `main` branch on production"
As of July 21, 2020, Heroku supports deploying to the `main` branch: https://devcenter.heroku.com/changelog-items/1829

They also encourage customers to switch to `main` from `master`.

## What command did you execute?

`production deploy`, on the `main` branch

## What did you expect to happen?

Parity should run `git push production main`

## What actually happened?

Parity couldn't find the non

[2020-08-14 01:53] geoffharcourt commented on #184
Hi @gabebw!

I'm trying to figure out how to handle staging scenarios. In staging, we push the current branch to the staging primary branch, but now I'm not sure what the reliable way to determine what the name of the remote main branch would be.

In https://github.com/thoughtbot/dotfiles [we're using this technique](https://github.com/thoughtbot/dotfiles/commit/f252ba46d101c442ba7340b343512f8873a

[2020-08-14 03:36] gabebw commented on #184
Hi @geoffharcourt!

Yes, this would apply to both staging (current -> main/master) and production (main/master -> main/master).

Interestingly, `git symbolic-ref --short refs/remotes/origin/HEAD` gives me `origin/master` locally in a repo that used to use master but switched to main, so something's funky there. It can be a little more expensive and a little less fancy than that dotfiles technique,

[2020-08-14 06:26] jeantristan commented on #120
Hi there,
I have the same issue trying to run `development restore-from staging`.
I have the following error:
[code]

I'm using docker / virtualized services for development. So there is no socket, but a connection to 5432 port on localhost would work.

Is there a workaround for this issue?

Cheers!

[2020-08-17 13:31] iDuuck opened #185 "Did you mean autosuggest somehow broken"
Help us track down and resolve parity problems faster with this template.

## What command did you execute?

[code]

## What did you expect to happen?

I expected that the "Did you mean" engine, that it tells me: "Did you mean: deploy".

## What actually happened?

![image](https://user-images.githubusercontent.com/325241/90401749-b25b3d80-e09e-11ea-9e8b-db8142fb722a.png)

## Some information abou

[2020-08-17 15:06] geoffharcourt commented on #185
Thanks for reporting!

The parity-specific commands (`deploy`, `migrate`, `tail`, etc.) aren't going to work with Heroku's autocomplete or did-you-mean correction. `deploy` isn't a Heroku command, and their CLI won't recognize it.

For us to handle this, we'd have to implement our own did-you-mean handler, and that seems like a prohibitively expensive undertaking and probably hard to do without re

[2020-08-17 15:06] #185 closed

[2020-10-07 12:21] tdeo opened #186 "Support for ERB database.yml ?"
Help us track down and resolve parity problems faster with this template.

## What command did you execute?

`development restore-from production`

## What did you expect to happen?

I expected the command to succeed

## What actually happened?

It failed with the following message :
[code]

It seems that parity fails to load my `config/database.yml` file because I have ERB syntax in it, which is

[2020-10-07 12:52] geoffharcourt commented on #186
Hi @tdeo, we removed ERB support to increase portability in https://github.com/thoughtbot/parity/commit/5704201d5bb7d8730e39e8f2767ae7964193a69d. PR #182 brings back YAML support, but parsing ERB would require us to include an ERB gem and we've found that Travelling Ruby and Bundler don't play well together due a Bundler issue [that will never be fixed](https://github.com/phusion/traveling-ruby/pu

[2020-10-07 13:58] tdeo commented on #186
Actually, `erb` is part of the ruby stdlib (at least in c-ruby), and while it's true that basic interpolation in database.yml like the one that appears in a rails scaffold:
[code]
is compatible with plain-yaml parsing, any interpolation outside a text value will break yaml loading.

Is re-including `erb` from the stdlib out of the question, even without reintroducing bundler and gems ? I'm really

[2020-10-07 14:02] geoffharcourt commented on #186
This is good news! If this is possible without adding any gems via Bundler (looks like that PR also removed git support, which might have been why I was wrong about ERB), then I don't see a reason why we can't do it.

Take a peek at #182, we'll want to be careful about making sure that solution and whatever happens here don't fall into conflict.

Thanks for figuring this out.

[2020-10-07 15:05] #186 closed

[2020-12-15 00:52] #184 closed

[2021-02-25 17:29] tannakartikey opened #189 "Feature request: add flag to use the downloaded database"
I have frequently come across situations during the development where I have to restore the development database multiple times in a short time, where it does not make sense to download the remote database again.

If the maintainers think that the option to use the already downloaded database will help, I can work on the same.

[2021-02-26 14:59] geoffharcourt commented on #189
Hi @tannakartikey I think this is a great idea, please go ahead with a pull request.

[2021-02-26 15:00] geoffharcourt commented on #181
Hi @gcolson, sorry for the long wait here. Do you have a local Ruby installation? I think our packages there may need some maintenance.

Travelling Ruby is out of date and no longer supported, so I would recommend installing the gem version via `gem install parity`. I will look into updating our instructions.

[2021-07-02 03:57] cythb commented on #120
Hi @jeantristan,
this workaround works for me:

[code]

[2021-09-06 12:40] Vin0uz opened #193 "Run tasks using parity"
👋

First of all, thanks for Parity, I love it !

I often run tasks manually on my staging environnement, and end up doing a boring `heroku run rails foo:bar --remote staging`  and I've been wondering if we could add this possibility, and have something like `staging task foo:bar` ? I can propose a diff if you guys agree with it :)

[2021-09-06 18:21] geoffharcourt commented on #193
@Vin0uz this is already doable with `staging run rake foo:bar`! `staging` acts as `heroku <all passed args> --remote staging`.

[2021-09-07 08:53] Vin0uz commented on #193
Oh right ! I naively thought about skipping the `run` part 🤦‍♂️
Thanks for clearing this up 👍

[2021-09-07 08:53] #193 closed

[2021-09-23 17:30] vfonic opened #194 "Feature request: Add `development backup`"
I'd like to temporarily restore production database locally, but I don't want to lose my local development database data.
After I finish I'd like to restore development database from backup.

Parity is all about making developer's life easier so I thought it could be a good fit.

Because, right now I'm searching how to make a local db backup, and how to restore it afterwards.

[2021-11-17 10:09] vfonic opened #195 "How to install parity without upgrading postgresql package?"
I have postgresql 13.3 installed via Homebrew. It works great and I have some other packages (postgis) that have postgresql as its dependency. I also have several databases that I don't want to mess up.

I want to install parity and have it use current postgresql 13.3. I don't want to upgrade postgresql just so I can install parity.

Please note that I had parity installed earlier today and it was

[2021-11-17 10:55] vfonic commented on #195
Got it, this works:

[code]

[2021-11-17 10:55] #195 closed

[2021-11-17 15:10] geoffharcourt commented on #195
It might be time to stop making PG a dependency, there's a lot of value in parity IMO even if you don't use the DB features.

[2021-11-20 03:38] croaky commented on #189
Possibly some ideas in here https://dancroak.com/heroku-postgres-restore-staging-development which is based originally on Parity code. My shell history frequently contains lines like:

[code]

The use case you described is the last command since there's a `tmp/latest.backup` sitting on the filesystem:

[code]

I'd recommend flagging `delete_local_temp_backup` as you say and considering whether the

[2022-02-05 15:00] Vin0uz opened #196 "Error on development restore call"
## What command did you execute?
`development restore production`

## What actually happened?
After downloading the dump, restoring it fails with `visit_Psych_Nodes_Alias': Unknown alias: default (Psych::BadAlias)` error message.

## Some information about your installation
This issue started with our bump to ruby 3 and Rails 7

Does anyone else faced it ?

--
I tried to identify the problem more

[2022-02-22 19:00] multiplegeorges commented on #196
@Vin0uz My fork fixes this issue if you need something before Thoughtbot merges my PR. Just fyi.

[2022-02-23 18:51] #196 closed

[2022-05-30 08:28] iDuuck opened #198 "Allow pushing from different branches than "main" or "master""
I would like to suggest that it would be configurable where to push from for production.
I was recently working on a project, which has a `development` and a `production` branch. However, (trying) to deploy with `production deploy` results in the following:

[code]

While I understand, that this is also a "security" issue, for not pushing wrong branches to `production` environments, it would be ni

[2022-05-31 09:56] vfonic commented on #198
I get the same error with `main` branch. 🤷‍♂️

[2022-05-31 20:09] dorianmariefr opened #199 "Use `--json` output? (More stable/future-proof integration)"
For instance I see we fetch the app name in plain text and parse it, wouldn't it be easier to use the `--json` output?

It doesn't look like there are other places where we parse the output though.

[2022-08-22 18:13] KevinButterfield opened #200 "Restoring development from heroku broken since heroku_ext change"
Ever since https://devcenter.heroku.com/changelog-items/2446, Heroku's postgres extensions are installed in the new `heroku_ext` schema.  However, `development restore-from *` fails, as once the local database is dropped and recreated, it has no `heroku_ext` schema.

This causes `pg_restore` to raise errors.  If the extensions are not related to actual table data, these errors are fairly benign, b

[2022-08-24 19:48] croaky commented on #200
How's https://github.com/thoughtbot/parity/pull/201 look?

[2022-08-24 20:24] KevinButterfield commented on #200
It looks great!  Thank you!

[2022-08-24 20:39] geoffharcourt commented on #200
Closed in #201! Thanks @croaky.

[2022-08-24 20:39] #200 closed

[2022-10-07 19:08] jakemumu commented on #171
would love to see this feature added still <3